<div>
  <div mat-dialog-title class="titre-alert">
   {{appConfig.getLabel('modal.annulation.title', this.data?.action)}}
  </div>
  <mat-dialog-content class="mt-1">
    <p class="body-alert">
      {{appConfig.getLabel('modal.annulation.body', this.data?.action)}}
    </p>
  </mat-dialog-content>
  <mat-dialog-actions class="mt-2" class="buttons" fxLayout="row" fxLayoutAlign="end center"  fxLayoutGap="8px">
      <button mat-raised-button [mat-dialog-close]="false" class="btn-global-annuler">
        <mat-icon>close</mat-icon>
        {{appConfig.getLabel('global.non') | uppercase}}
      </button>
      <button mat-raised-button [mat-dialog-close]="true" class="btn-global-valider" (click)="annuler()">
        <mat-icon>check</mat-icon>
        {{appConfig.getLabel('global.oui') | uppercase}}
      </button>
  </mat-dialog-actions>
</div>
