@charset "UTF-8";
@import "src/assets/css/DSCOM-variables.scss";
.table-container {
  height: 55vh!important;
  overflow: auto!important;
}


.nb-pastille {
  width: fit-content;
  margin-bottom: 0.25em!important;
}

.nb-label {
  // margin: 12px;
  font-size: 13px;
}
.mat-header-utilisateur{

}
.table-header{
  text-transform:capitalize;
  font-family: normal;
  font-weight: 900;
  background-color: $orange-40 !important;
  color: white!important;

}
.pagination-btn-nb-label {
  transform: translateY(5%);
}


.form--chip {
  pointer-events: none;
}
mat-card{
  border-bottom: solid $orange-600 !important;
}

.blue-label {
  font-size: 13px !important;
  font-family: Calibri !important;
}
.blue-label-icon {
  color: $orange-500!important;
  &:hover {
    cursor: pointer;
    color: $orange-500!important;
  }
}


.mat-table {
  border-collapse: collapse;
  width: 100% !important;
}

td {
  height:42px!important;
  font-size: 14px !important;
  font-family: Calibri !important;
  font-style: normal !important;
  line-height: 20px !important;

}
tr{
  border: 1px solid #f1eeee;
  height: 44px!important;
}
.circular-button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /*background-color: $orange-500!important;*/
  background-color: $orange-50!important;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 0.5em;
  font-size: 16px;
}
.titre-prenom{
  font-size: 14px;
  font-family: "Arial Black";
  text-transform: capitalize;
  color: $orange-500!important;
}
.user-mobile{
  min-height: 80vh!important;
  max-height: 82vh!important;
  overflow: auto;
}
.contenaire-info{
  margin-left: 0.5em!important;
}
.new--contract--button-mobil{
  position: absolute;
  left: 76%;
  top: 76vh;
  transform: translate(50%, -42%);
  &.mat-button-disabled {
    background-color: gray;
  }
  background-color: $orange-500!important;
  width: 50px!important;
  height: 50px!important;
}
.titre-profil{
  text-transform: capitalize;
  color: #5d5a5a;
}
.row-user-mobile{
  border-bottom: solid 0.01em $orange-4!important;
  padding-top: 0.2em!important;
}
.titre-second{
  padding-left: 0.6em!important;
}

.mat-mdc-table .mdc-data-table__row:nth-child(even) {
  background-color: #fdf9f7!important;
}

.mat-mdc-table .mdc-data-table__row:nth-child(odd) {
  background-color: white;
}
.table-parent{
  border: solid 1px $orange-40 !important;
}
