<div class="mt-05">
  <app-actions-critere-btns fxShow="false" fxHide.gt-xs="false"
                            [numberResult]="2"
                            [singulier]="appConfig.getLabel('recherche.utilisateur.singulier.label') "
                            [plurier]="appConfig.getLabel('recherche.utilisateur.pluriel.label')"
                            [tooltip]="appConfig.getLabel('label.tooltip.categorie')"
                            [search]="search"
                            [visibleBtnCreation]="true"
                            (btnAjouter)="ouvreNouveauCategorie()"
                            (btnAjouterFiltre)="ajouterFiltre($event)"
                            (btnAnnulerFiltre)="annulerFiltre($event)"
                            [critereRecherches]="critereRecherches$"
                            [resultautocompleteRecherche]=rechercheSuggestions$>
  </app-actions-critere-btns>
</div>
<div>
  <div fxLayout fxLayout="row" >
    <mat-label class="result">{{appConfig.getLabel("nombre.element")}}: {{nb$ |async }}</mat-label>
  </div>
  <div fxShow="false" fxHide.gt-xs="false" class="table-container" fxLayout fxLayout="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="2px">

  <div fxShow="false" fxHide.gt-xs="false" class="table-container" fxLayout="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="2px">
    <cdk-virtual-scroll-viewport
    [itemSize]="getItemSize()"
    (scrolledIndexChange)="onScrollEnd($event)"
     class="cdk-virtual-scroll-viewport">
    <table mat-table matSort  [dataSource]="listCategorie"  class="mat-elevation-z0 table-parent" matSort>
      <ng-container matColumnDef="id">
        <th class="table-contact-header table-header" mat-sort-header mat-header-cell *matHeaderCellDef>
          <div class="d-flex">N°</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex">{{element?.id}}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th class="table-contact-header table-header" mat-sort-header mat-header-cell *matHeaderCellDef>
          <div class="d-flex">Classe</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex">{{element?.type?element?.type:"-"}}</div>
        </td>
      </ng-container>
      <!-- COLONNE : TELEPHONE-->
      <ng-container matColumnDef="volume">
        <th class="table-contact-header table-header" mat-sort-header mat-header-cell *matHeaderCellDef>
          <div class="d-flex">Volume(m3)</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex">{{element?.volume?element?.volume:"-"}}</div>
        </td>
      </ng-container>

      <!-- COLONNE : EMAIL-->
      <ng-container matColumnDef="dateCreation">
        <th class="table-contact-header table-header" mat-sort-header mat-header-cell *matHeaderCellDef>
          <div class="d-flex">Date de création</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex">{{element?.dateCreation?formatDate(element?.dateCreation):'-'}}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
          <div class="d-flex" fxLayoutAlign="space-evenly center">actions</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div *appAutorisation="['ADMIN','EDIT']" fxLayout="row" fxLayoutAlign="center center" fxFlex="100" fxLayoutGap="16px">
            <div   class=" d-flex pb-1" fxLayoutAlign="space-evenly stretch" fxLayoutGap="2px">
              <mat-icon class="blue-label-icon" (click)="chargerCategorie(element)">create</mat-icon>
            </div>
            <div *appAutorisation="['ADMIN']"  class=" d-flex" fxLayoutAlign="space-evenly stretch" fxLayoutGap="2px">
              <mat-icon class="blue-label-icon" (click)="supprimerCategorie(element)">delete</mat-icon>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-table"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    </cdk-virtual-scroll-viewport>
    <!--
    <div class="parging" >
    <mat-paginator [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   showFirstLastButtons>
    </mat-paginator>
    </div>
    -->
  </div>



</div>
