@charset "UTF-8";
@import "src/assets/css/DSCOM-variables.scss";
//********************************* global ************************
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}
// content
.content {
  flex-grow: 1;
  margin: 0px;
  padding: 0px;

}
.header{
  padding-left:5%;
  padding-right:5% ;
}
@media screen and (max-width: 600px) {
  .content {
    display: flex;
    flex-direction: column;
    font-size:11px;
  }
  .header{
    font-size:11px;
  }
}
/* Appliquer une mise en page de type grille pour les écrans de taille moyenne */
@media screen and (min-width: 600px) and (max-width: 959px) {
  .content {
    font-size:11px;
  }
  .header{
    font-size:11px;
  }
}
body {
  // color
  color: #243262;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  margin: 0;
  background: white;
}
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
// Transparent Overlay
.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // color
  background-color: rgba(0, 0, 0, .53);
}
// clear
.clear {
  clear: both;
  height:40px;
}
//******************** Fix IE 11 *********************
*::-ms-backdrop, .ie-fixFlex { // NOSONAR
  display: block !important; // NOSONAR
}

//******************* CONTRAT PROGRESS BAR ***********
.contrat--progress--bar {
  &.mat-progress-bar {
    height: 2px;
  }
}
