
<div *ngIf="isLoggedIn" class="flex-container " fxLayout="column" >
   <div fxLayout="column"  class="entete-fixe">
    <app-dscom-header></app-dscom-header>
    <mat-toolbar color="" class="menu-toolbar mt-01 mat-elevation-z5">
      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <img src="../../../../assets/img/logo.svg" height="35" width="30"
           ngSrcset="50w, 100w, 200w, 200w" alt="bandeau"/>
      <a mat-button class="" routerLink="/" routerLinkActive="router-link-active acceuil">
        <span>Accueil</span>
      </a>
      <span class="example-spacer"></span>
      <div fxLayout="row" fxLayoutGap="12px" fxShow="true" fxHide.lt-md="true" class="lien">
        <a   routerLink="/recherche/chargements" routerLinkActive="router-link-active">Chargements</a>
        <a   routerLink="/recherche/vehicule" routerLinkActive="router-link-active">Véhicules</a>
        <a  routerLink="/recherche/categorie" routerLinkActive="router-link-active">Classes</a>
        <a  routerLink="/recherche/produit" routerLinkActive="router-link-active">Produits</a>
        <a   routerLink="/recherche/site" routerLinkActive="router-link-active">Sites de pesage</a>
        <a  routerLink="/recherche/exploitation" routerLinkActive="router-link-active">Sites d'exploitation</a>
        <a  *appAutorisation="['ADMIN','EDIT']" routerLink="/recherche/depots" routerLinkActive="router-link-active">Importations</a>
        <a  *appAutorisation="['ADMIN']" routerLink="/recherche/user" routerLinkActive="router-link-active">Utilisateurs</a>
      </div>
      <div class="toolbar-item-spacer" fxShow fxHide.gt-sm [fxFlex]="70"></div>
      <button mat-icon-button fxShow fxHide.gt-sm (click)="logout()" href="#">
        <mat-icon class="deconnexion-action">power_settings_new</mat-icon>
      </button>
    </mat-toolbar>

  <div class="bandeau--small"></div>
   </div>

    <mat-sidenav-container  class="example-container">
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column" class="mat-sidenav-menu">
        <a mat-button routerLink="" class="mat-sidenav-menu-but" (click)="sidenav.toggle()">home</a>
        <a mat-button routerLink="/recherche/user" class="mat-sidenav-menu-but" (click)="sidenav.toggle()">Utilisateurs</a>
        <a mat-button routerLink="/recherche/site" class="mat-sidenav-menu-but" (click)="sidenav.toggle()">Sites de pesage</a>
        <a mat-button routerLink="/recherche/vehicule" class="mat-sidenav-menu-but" (click)="sidenav.toggle()">Vehicules</a>
        <a  mat-button routerLink="/recherche/exploitation"  class="mat-sidenav-menu-but" (click)="sidenav.toggle()">Sites d'exploitation</a>
        <a mat-button routerLink="/recherche/produit" class="mat-sidenav-menu-but" (click)="sidenav.toggle()">Produits</a>
      </div>
    </mat-sidenav>
      <mat-sidenav-content >
      <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>
<mat-menu #menuSite="matMenu">
  <a mat-menu-item routerLink="/admin/site">creer site</a>
  <a mat-menu-item  routerLink="/recherche/site">liste site</a>
</mat-menu>
<mat-menu #menuVehicule="matMenu">
  <!--<a mat-menu-item  routerLink="/admin/vehiculeNouveau">nouveau Vehicule</a>-->
  <a mat-menu-item routerLink="/admin/vehicule">creer vehicule</a>
  <a mat-menu-item  routerLink="/admin/transpoteur">creer transpoteur</a>
  <a mat-menu-item  routerLink="/recherche/vehicule" >liste vehicule</a>

</mat-menu>

<mat-menu #menuUtilisateur="matMenu">
  <a mat-menu-item routerLink="/admin/user">creer utilisateur</a>
  <a mat-menu-item  routerLink="/recherche/user">liste utilisateur</a>
</mat-menu>

<mat-menu #menuProduit="matMenu">
  <a mat-menu-item routerLink="/admin/produit">creer produit</a>-->
  <a mat-menu-item  routerLink="/recherche/produit">liste de produit</a>
</mat-menu>
<mat-menu #menuExploiation="matMenu">
  <a mat-menu-item routerLink="/admin/exploitation">creer site d'exploitation</a>
  <a mat-menu-item  routerLink="/recherche/exploitation">liste de site d'exploitation</a>
</mat-menu>
<mat-menu #menuDepot="matMenu">
  <a mat-menu-item routerLink="/depot/creer">creer depot</a>
  <a mat-menu-item  routerLink="/recherche/depots">liste depots</a>
</mat-menu>
<app-spinner></app-spinner>
<div class="loading-indicator" *ngIf="globals?.loading">
  <mat-spinner></mat-spinner>
</div>
