
<div *ngIf="isLoggedIn" class="flex-container page " fxLayout="column" >
      <app-dscom-header class="header "></app-dscom-header>
    <mat-toolbar color="">
      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <a mat-button class="" routerLink="">
        <span>Acceuil</span>
      </a>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <a mat-button  routerLink="/recherche/user">Utilisateur</a>
        <a mat-button [matMenuTriggerFor]="menuVehicule">Vehicule</a>
        <a mat-button [matMenuTriggerFor]="menuProduit">Produit</a>
        <a mat-button [matMenuTriggerFor]="menuSite">Site de pesage</a>
        <a mat-button [matMenuTriggerFor]="menuExploiation">Site d'exploitation</a>
        <a mat-button [matMenuTriggerFor]="menuDepot">Depot</a>
      </div>
      <div class="toolbar-item-spacer" fxShow fxHide.gt-sm [fxFlex]="70"></div>
      <button mat-icon-button fxShow fxHide.gt-sm (click)="logout()" href="#">
        <mat-icon class="deconnexion-action">power_settings_new</mat-icon>
      </button>
    </mat-toolbar>
  <div class="bandeau--small"></div>
    <mat-sidenav-container  class="example-container">
      <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
        <div fxLayout="column">
          <a mat-button routerLink="" (click)="sidenav.toggle()">home</a>
          <a mat-button routerLink="/admin" (click)="sidenav.toggle()">creer utilisateur</a>
          <a mat-button routerLink="/admin/site" (click)="sidenav.toggle()">creer site</a>
          <a mat-button routerLink="/admin/vehicule" (click)="sidenav.toggle()">creer vehicule</a>
          <a mat-button routerLink="/admin/transpoteur" (click)="sidenav.toggle()">creer transpoteur</a>
          <a  mat-button routerLink="/recherche/user"  (click)="sidenav.toggle()"
              >liste utilisateur</a>
        </div>
      </mat-sidenav>
      <mat-sidenav-content >
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  <div class="clear"></div>
  <div>Temps restant : {{ tempsRestant }}</div>
  <app-dscom-footer></app-dscom-footer>
</div>
<mat-menu #menuSite="matMenu">
  <a mat-menu-item routerLink="/admin/site">creer site</a>
  <a mat-menu-item  routerLink="/recherche/site">liste site</a>
</mat-menu>
<mat-menu #menuVehicule="matMenu">
  <!--<a mat-menu-item  routerLink="/admin/vehiculeNouveau">nouveau Vehicule</a>-->
  <a mat-menu-item routerLink="/admin/vehicule">creer vehicule</a>
  <a mat-menu-item  routerLink="/admin/transpoteur">creer transpoteur</a>
  <a mat-menu-item  routerLink="/recherche/vehicule" >liste vehicule</a>

</mat-menu>

<mat-menu #menuUtilisateur="matMenu">
  <a mat-menu-item routerLink="/admin/user">creer utilisateur</a>
  <a mat-menu-item  routerLink="/recherche/user">liste utilisateur</a>
</mat-menu>

<mat-menu #menuProduit="matMenu">
  <a mat-menu-item routerLink="/admin/produit">creer produit</a>
  <a mat-menu-item  routerLink="/recherche/produit">liste de produit</a>
</mat-menu>
<mat-menu #menuExploiation="matMenu">
  <a mat-menu-item routerLink="/admin/exploitation">creer site d'exploitation</a>
  <a mat-menu-item  routerLink="/recherche/exploitation">liste de site d'exploitation</a>
</mat-menu>
<mat-menu #menuDepot="matMenu">
  <a mat-menu-item routerLink="/depot/creer">creer depot</a>
  <a mat-menu-item  routerLink="/recherche/depots">liste depots</a>
  <a mat-menu-item  routerLink="/recherche/chargement">chargements depot</a>
</mat-menu>

