@charset "UTF-8";
@import "src/assets/css/DSCOM-variables.scss";
form{

}


fieldset {
  font-family: sans-serif;
  background: #fffdfd;
  border-radius: 6px;
  border: 1px solid $orange-500!important;
  font-size: 12px;
}

fieldset legend {
  background: $orange-500!important;
  padding: 5px 10px ;
  border-radius: 5px;
  border: 1px solid $orange-500!important;
  border-radius: 0.25em!important;
}
.contenair-btn{
}
