
<form class="mt-1" [formGroup]="myform">
  <fieldset>
    <legend class="titre-form">{{titre}}</legend>
      <div class="mt-05" fxLayout fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around" fxLayoutGap="10px">
        <!-- Immatriculation -->
        <mat-form-field class="champ--operateur"  appearance="outline" fxFlex="50" floatLabel="always">
          <mat-label>Immatriculation</mat-label>
          <input matInput  type="text" [formControl]="immatriculation" oninput="this.value = this.value.toUpperCase().trim()"/>
          <button  matSuffix mat-icon-button aria-label="Clear" (click)="reset('immatriculation')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="immatriculation.errors?.hasOwnProperty('required')">
            {{appConfig.getLabel('error.champ.obligatoire')}}
          </mat-error>
          <mat-error *ngIf="immatriculation.errors?.hasOwnProperty('isImmatValid')">
            {{appConfig.getLabel('error.caractere.invalid')}}
          </mat-error>
        </mat-form-field>
        <!-- Poids Vide -->
        <mat-form-field class="champ--operateur"  appearance="outline" fxFlex="50" floatLabel="always">
          <mat-label>Poids vide (t)</mat-label>
          <input matInput  type="number" [formControl]="poidsVide"/>
          <button  matSuffix mat-icon-button aria-label="Clear" (click)="reset('poidsVide')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="poidsVide.errors?.hasOwnProperty('required')">
            {{appConfig.getLabel('error.champ.obligatoire')}}
          </mat-error>
          <mat-error *ngIf="poidsVide.errors?.hasOwnProperty('isNotPositive')">
            {{appConfig.getLabel('error.champ.nombre.positive')}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mt-05" fxLayout fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start" fxLayoutGap="10px">
        <div formGroupName="categorie" fxLayoutGap="10px" fxFlex="100">
          <!-- Classe -->
          <mat-form-field class="champ--operateur" appearance="outline" fxFlex="50" floatLabel="always">
            <mat-label>Classe </mat-label>
            <mat-select [formControl]="type" placeholder="Categories">
              <mat-option *ngFor="let categorie of this.listCategories" [value]="categorie.type">
                {{categorie.type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
  </fieldset>
</form>
<div class="mat-elevation-z0 mt-1">
  <app-action-btns [btns]="btns"  (btnClick)="vehiculeAction($event)"></app-action-btns>
</div>
