<form class="mt-1" [formGroup]="myform">
  <fieldset>
    <legend class="titre-form">{{titre}}</legend>
    <div class="mt-05" fxLayout fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap="10px">
      <div fxLayout fxLayoutGap="10px" fxLayout.xs="column"fxLayout.sm="column" >
      <mat-form-field class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
        <mat-label>immatriculation</mat-label>
        <input matInput  type="text"
               [formControl]="immatriculation"/>
        <button  matSuffix mat-icon-button aria-label="Clear"
                 (click)="reset('immatriculation')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="immatriculation.errors?.hasOwnProperty('required')">
          {{appConfig.getLabel('error.champ.obligatoire')}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
        <mat-label>classe </mat-label>
        <input matInput  type="text"
               [formControl]="nom"/>
        <button  matSuffix mat-icon-button aria-label="Clear"
                 (click)="reset('nom')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="nom.errors?.hasOwnProperty('required')">
          {{appConfig.getLabel('error.champ.obligatoire')}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
        <mat-label>volume </mat-label>
        <input matInput  type="text"
               [formControl]="volume"/>
        <button  matSuffix mat-icon-button aria-label="Clear"
                 (click)="reset('volume')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="volume.errors?.hasOwnProperty('required')">
          {{appConfig.getLabel('error.champ.obligatoire')}}
        </mat-error>
      </mat-form-field>
      </div>
    </div>
  </fieldset>
  <fieldset class="mt-05">
    <legend class="titre-form">{{titreTransport}}</legend>
    <div formGroupName="myformTransport" class="mt-05">
      <div fxLayout fxLayoutGap="10px" fxLayout.xs="column"fxLayout.sm="column" >
        <mat-form-field class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
          <mat-label>Type transporteur </mat-label>
          <mat-select [formControl]="transType"  [value]="transType" placeholder="selectionner le type de transporteur">
            <mat-option *ngFor="let typ of types" [value]="typ.code">
              {{ typ.code }} - {{ typ.libelle }}
            </mat-option>
          </mat-select>
          <button  matSuffix mat-icon-button aria-label="Clear"
                   (click)="reset('transType')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="transType.errors?.hasOwnProperty('required')">
            {{appConfig.getLabel('error.champ.obligatoire')}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="champ--operateur" appearance="outline"
                        fxFlex="50" fxFlex.lt-md="100"
                        floatLabel="always">
          <mat-label>Adresse</mat-label>
          <input matInput
                 [formControl]="transAdresse"/>
          <button  matSuffix mat-icon-button aria-label="Clear"
                   (click)="reset('transAdresse')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div fxLayout fxLayoutGap="10px" fxLayout.xs="column"fxLayout.sm="column" >
        <mat-form-field class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
          <mat-label>{{transType.value==='P'?'nom':'numero Siret'}} </mat-label>
          <input matInput  type="text"
                 [formControl]="transNom"/>
          <button  matSuffix mat-icon-button aria-label="Clear"
                   (click)="reset('transNom')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="nom.errors?.hasOwnProperty('required')">
            {{appConfig.getLabel('error.champ.obligatoire')}}
          </mat-error>
        </mat-form-field>
        <mat-form-field  *ngIf="transType.value==='P'"
                         class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
          <mat-label>prenom </mat-label>
          <input matInput  type="text"
                 [formControl]="transPrenom"/>
          <button  matSuffix mat-icon-button aria-label="Clear"
                   (click)="reset('transPrenom')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="transPrenom.errors?.hasOwnProperty('required')">
            {{appConfig.getLabel('error.champ.obligatoire')}}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout fxLayoutGap="10px" fxLayout.xs="column"fxLayout.sm="column" >
        <mat-form-field class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
          <mat-label>email </mat-label>
          <input matInput  type="text"
                 [formControl]="transEmail"/>
          <button  matSuffix mat-icon-button aria-label="Clear"
                   (click)="reset('transEmail')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
          <mat-label>telephone</mat-label>
          <input matInput  type="text"
                 [formControl]="transTelephone"/>
          <button  matSuffix mat-icon-button aria-label="Clear"
                   (click)="reset('transTelephone')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </fieldset>
</form>
<div class="mat-elevation-z0 mt-1">
  <app-action-btns [btns]="btns"  (btnClick)="vehiculeAction($event)"></app-action-btns>
</div>
