@charset "UTF-8";
@import "src/assets/css/DSCOM-variables.scss";

.mat-button {
  height: auto;
}
.ongoing--tile {
  color: $green;
}
.ongoing--round {
  background-color: transparent;
  color: $green;
  border: 1px solid $green;
}

.ongoing--round {
  cursor: pointer;
  background-color: $light-green;
}
/*
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
*/



.detail--section h3 {
  color: $dark-blue;
}

// TUILE SAISIE EN COURS
.ongoing--tile {
  color: $green;
}

.ongoing--round {
  background-color: transparent;
  color: $green;
  border: 1px solid $green;
  transition: transform 250ms ease-in;
}

.site--tile {
  color: $red-A200;
}

.site--round {
  background-color: transparent;
  color: $red-A200;
}

.todo--tile {
  color: $red-900;
}

.todo--round {
  background-color: $red-900;
  color: #ffffff;
  border: 1px solid $red-900;
}

.stamped--tile {
  color: $purple-500;
}

.stamped--round {
  background-color: transparent;
  color: $purple-500;
  border: 1px solid $purple-500;
}
.instruct--tile {
  color: $purple-300;
}

.instruct--round {
  background-color: transparent;
  color: $purple-300;
  border: 1px solid $purple-300;
}

.fab--button {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight:200;
  border: none;
}
.purple--300 {
  color: $purple-300;
}
.card-description{
  font-size: 13px;
  font-style: normal;
}
.menu-card{
  border-bottom: solid $orange-600 !important;
}
mat-card-content{
  padding-top: 0px!important;
}

.entete-acceuil {
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-right: 2em!important;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  align-self: stretch;
  font-family: Calibri;
}
.result-titre{
  color: $orange-700;
  font-family: Calibri;
  font-size: 14px;
  font-style: normal;
  font-weight: 550;
  line-height: 16px;

}
.result-continue{
  color: #7B8583;
  font-family: Calibri;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.champ--operateur{
  height: 32px!important;
}
.champ--operateur ::ng-deep.mat-mdc-form-field-subscript-wrapper {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  height: 0px;
}
.graphe{
 padding: 0.1em!important;
}
.global {
  //border: 0.01em solid $orange-600!important;
  padding-bottom: 2em!important;
  border-radius: 6px!important;
}
.titre-graphe{
  text-align: center;
  color: $orange-700!important;
  font-family: Calibri;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
/*.recherche-mat-form-field{
  height: 24px!important;
}
.recherche-mat-form-field ::ng-deep.mat-mdc-form-field-subscript-wrapper {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  height: 0px;
}
*/
