<div class="">
<div class="mat-elevation-z2 mt-1">
  <app-utilisateur-actions></app-utilisateur-actions>
</div>
<div class="">
 <form  [formGroup]="myform">
    <app-formulaire-utilisateur [formGroup]="myform"
                                [prenom]="prenom"
                                [nom]="nom"
                                [email]="email"
                                [telephone]="telephone"
                                [active]="active"
                                [profils]="profils">

    </app-formulaire-utilisateur>
 </form>
</div>
</div>

