<div class="mt-05">
  <app-actions-critere-btns fxShow="false" fxHide.gt-xs="false"
                            [numberResult]="2"
                            [singulier]="appConfig.getLabel('recherche.depot.singulier.label') "
                            [plurier]="appConfig.getLabel('recherche.depot.pluriel.label')"
                            [tooltip]="appConfig.getLabel('label.tooltip.depot')"
                            [search]="search"
                            [visibleBtnCreation]="true"
                            (btnAjouter)="ouvreNouveauDepot()"
                            (btnAjouterFiltre)="ajouterFiltre($event)"
                            (btnAnnulerFiltre)="annulerFiltre($event)"
                            [critereRecherches]="critereRecherches$"
                            [resultautocompleteRecherche]=rechercheSuggestions$>
  </app-actions-critere-btns>

  <div fxLayout fxLayout="row" >
    <mat-label class="result">{{appConfig.getLabel("nombre.element")}}: {{nb$ |async }}</mat-label>
  </div>

  <div fxShow="false" fxHide.gt-xs="false" class="table-container" fxLayout fxLayout="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="2px">
    <cdk-virtual-scroll-viewport itemSize="10" class="cdk-virtual-scroll-viewport">

    <table mat-table matSort  [dataSource]="listDepots"  class="mat-elevation-z0 table-parent" matSort>
      <ng-container matColumnDef="id">
        <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
          <div class="d-flex">N° importation</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex">
            <a [routerLink]="['/recherche']" (click)="chargerDepot(element)">{{element?.id}}</a>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="nom">
        <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
          <div class="d-flex">Nom</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex">{{element?.nom}}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="station" >
        <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
          <div class="d-flex">Site de Pesage</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex">{{element?.site?.nom}}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="dateHeureDepot">
        <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
          <div class="d-flex">Début</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex">{{formatDate(element?.dateHeureDepot)}}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="dateHeureFinDepot">
        <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
          <div class="d-flex">Fin</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex">{{element?.dateHeureFinDepot!==null?formatDate(element?.dateHeureFinDepot):'-'}}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="statut">
        <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
          <div class="d-flex">Statut</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex">{{element?.statut}}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="deposeur">
        <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
          <div class="d-flex">Auteur</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex">{{element?.deposeur.prenom}}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="nbChargementDeposes">
        <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
          <div class="d-flex">Succès</div>
        </th>
        <td mat-cell *matCellDef="let element" >
          <div class="d-flex">{{element?.nbChargementDeposes}}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="nbChargementErreur">
        <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
          <div class="d-flex">Erreur</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex">{{element?.nbChargementErreur}}</div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-table"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

    </table>
    </cdk-virtual-scroll-viewport>
    <div class="parging" >
    <mat-paginator [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   showFirstLastButtons>
    </mat-paginator>
    </div>

  </div>
</div>
