<div class="mt-05" >
  <app-actions-critere-btns fxShow="false" fxHide.gt-xs="false"
                            [numberResult]="2"
                            [singulier]="appConfig.getLabel('recherche.depot.singulier.label') "
                            [plurier]="appConfig.getLabel('recherche.depot.pluriel.label')"
                            [tooltip]="appConfig.getLabel('label.tooltip.depot')"
                            [search]="search"
                            [searchDate]="searchDate"
                            (btnAjouter)="ouvreNouveauChargement()"
                            [visibleDate]="true"
                            [visibleBtnExport]=true
                            [visibleBtnSupprimer]="true"
                            (btnExport)="export($event)"
                            (btnAjouterFiltre)="ajouterFiltre($event)"
                            (btnAnnulerFiltre)="annulerFiltre($event)"
                            [critereRecherches]="critereRecherches$"
                            [resultautocompleteRecherche]=rechercheSuggestions$>
  </app-actions-critere-btns>

  <div  fxShow="false" fxHide.gt-xs="false" class="table-container" fxLayout fxLayout="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="2px" >
    <cdk-virtual-scroll-viewport itemSize="10" class="cdk-virtual-scroll-viewport">
    <table mat-table matSort  [dataSource]="listChargements"  class="mat-elevation-z0 table-parent" matSort *ngIf="chargements$|async as char">

      <ng-container matColumnDef="numImport">
        <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
          <div class="d-flex"><mat-checkbox color="primary"></mat-checkbox><div fxLayoutAlign="start center">N°Import</div></div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex">
            <mat-checkbox  color="primary" [value]=element!?.id>1234</mat-checkbox>
          </div>
        </td>
      </ng-container>
     <ng-container matColumnDef="datePesage">
        <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
          <div class="d-flex">Date</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex">{{formatDate(element.datePesage)}}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="site">
        <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
          <div class="d-flex">Site</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex">{{element.site.nom}}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="produit">
        <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
          <div class="d-flex">Produit</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex">{{element.produit.nomNORM}}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="exploitation">
        <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
          <div class="d-flex">Origine</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex">{{element!?.exploitation?.nom}}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="destination">
        <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
          <div class="d-flex">Destination</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex">{{element.destination}}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="transporteur">
        <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
          <div class="d-flex">Transporteur</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex">{{element.vehicule.transporteur.nom}}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="vehicule">
        <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
          <div class="d-flex">Véhicule</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex">{{element.vehicule.immatriculation}}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="poids">
        <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
          <div class="d-flex">Poids</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex">{{element.poids}}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="poidsSubst">
        <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
          <div class="d-flex">Poids estimé(T)</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex">{{element.poidsSubst}}</div>
        </td>
      </ng-container>



      <ng-container matColumnDef="volumeSubst">
        <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
          <div class="d-flex">Volume(m3)</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex">{{element.volumeSubst}}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="ecart">
        <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
          <div class="d-flex">Ecart</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex">{{element.ecart}}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
          <div class="d-flex"></div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div   class=" d-flex" fxLayout="row" fxLayoutAlign="space-evenly stretch" fxLayoutGap="2px">
            <mat-icon *appAutorisation="['ADMIN','EDIT']" class="blue-label-icon" (click)="chargerChargement(element)">create</mat-icon>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-table"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

    </table>
    </cdk-virtual-scroll-viewport>
    <!--
    <cdk-virtual-scroll-viewport itemSize="10" class="cdk-virtual-scroll-viewport">
    </cdk-virtual-scroll-viewport>-->
    <mat-paginator [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   showFirstLastButtons>
    </mat-paginator>

  </div>
</div>
