<div class="mt-05">
  <app-actions-critere-btns fxShow="false" fxHide.gt-xs="false"
    [numberResult]="2"
    [singulier]="appConfig.getLabel('recherche.utilisateur.singulier.label') "
    [plurier]="appConfig.getLabel('recherche.utilisateur.pluriel.label')"
    [tooltip]="appConfig.getLabel('label.tooltip.site')"
    [search]="search"
    [visibleBtnCreation]="true"
    (btnAjouter)="ouvreNouveauSite()"
    (btnAjouterFiltre)="ajouterFiltre($event)"
    (btnAnnulerFiltre)="annulerFiltre($event)"
     [critereRecherches]="critereRecherches$"
     [resultautocompleteRecherche]=rechercheSuggestions$>
  </app-actions-critere-btns>
    <div fxShow="false" fxHide.gt-xs="false" class="table-container" fxLayout fxLayout="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="2px">
        <table mat-table matSort  [dataSource]="listSites"  class="mat-elevation-z0 table-parent" matSort>
            <ng-container matColumnDef="nom">
                <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
                  <div class="d-flex">Nom</div>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="d-flex">{{element?.nom}}</div>
                </td>
            </ng-container>
          <ng-container matColumnDef="localite">
          <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
            <div class="d-flex">Localité</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex">{{element?.localite}}</div>
          </td>
      </ng-container>

      <ng-container matColumnDef="dateCreation">
          <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
            <div class="d-flex">Création</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex">{{formatDate(element?.dateCreation)}}</div>
          </td>
      </ng-container>


    <ng-container matColumnDef="actions">
      <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
        <div class="d-flex">actions</div>
      </th>
      <td mat-cell *matCellDef="let element">
        <div   class=" d-flex" fxLayout="row" fxLayoutAlign="space-evenly stretch" fxLayoutGap="2px">
          <mat-icon *appAutorisation="['ADMIN','EDIT']" class="blue-label-icon" (click)="chargerSite(element)">create</mat-icon>
        </div>
      </td>
    </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-utilisateur"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" ></tr>

        </table>
        <mat-paginator [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 showFirstLastButtons>
        </mat-paginator>

    </div>
  <div class="user-mobile" fxShow="true" fxHide.gt-xs="true" *ngIf="sites$|async as sites">
    <div>
      <button mat-fab
              matTooltipPosition="left"
              matTooltip="{{appConfig.getLabel('header.btn.utilisateur.creer.tooltip')}}"
              matTooltipClass="custom-tooltip"
              (keydown)="ouvreNouveauSite()" (click)="ouvreNouveauSite()"
              class="new--contract--button-mobil">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div *ngFor="let site of sites" fxLayout="column" fxLayoutAlign="space-between stretch" class="row-user-mobile">
      <div fxLayout="row" fxLayoutAlign="start none"  >
        <div fxFlex="20"  fxLayout="column" fxLayoutAlign="space-around center">
          <button class="circular-button"  (click)="chargerSite(site)">
            <mat-icon>line_weight</mat-icon>
          </button>
        </div>
        <div class="contenaire-info" fxFlex="80" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="2px">
          <div class="titre-prenom">{{site.nom}}</div>
          <div class="titre-second">Localite : {{site.localite}}</div>
        </div>
      </div>
      <hr>
    </div>
  </div>


</div>

