<div class="mt-05">
  <app-actions-critere-btns
    [numberResult]="2"
    [singulier]="appConfig.getLabel('recherche.utilisateur.singulier.label') "
    [plurier]="appConfig.getLabel('recherche.utilisateur.pluriel.label')"
    [tooltip]="appConfig.getLabel('header.btn.utilisateur.creer.tooltip')"
    [search]="search"
    (btnAjouter)="ouvreNouveauSite()"
  >
  </app-actions-critere-btns>
    <div class="table-container" fxLayout fxLayout="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="2px">
        <table mat-table matSort  [dataSource]="listSites"  class="mat-elevation-z0 table-parent" matSort>
            <ng-container matColumnDef="Nom">
                <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
                  <div class="d-flex">Nom</div>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="d-flex">{{element?.nom}}</div>
                </td>
            </ng-container>
            <ng-container matColumnDef="Localite">
                <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
                  <div class="d-flex">localite</div>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="d-flex">{{element?.localite}}</div>
                </td>
            </ng-container>
            <ng-container matColumnDef="Date Creation" fxHide.xs>
                <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
                  <div class="d-flex">Date Creation</div>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="d-flex">{{element?.dateCreation}}</div>
                </td>
            </ng-container>
          <ng-container matColumnDef="actions">
            <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
              <div class="d-flex">actions</div>
            </th>
            <td mat-cell *matCellDef="let element">
              <div   class=" d-flex" fxLayout="row" fxLayoutAlign="space-evenly stretch" fxLayoutGap="2px">
                <mat-icon *appAutorisation="['ADMIN']" class="blue-label-icon" (click)="chargerSite(element)">create</mat-icon>
              </div>
            </td>
          </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-utilisateur"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

        </table>
        <mat-paginator [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 showFirstLastButtons>
        </mat-paginator>

    </div>
</div>

