<mat-card>
  <mat-card-header class="mat-card-header">
    <mat-card-title class="mat-card-title">Création d'un transport </mat-card-title>
  </mat-card-header>
  <mat-card-content class="mt-1">
    <form  (submit)="sauvegarder()"  class="stepper--conteneur"[formGroup]="myform" fxLayout fxLayout="column" fxLayoutAlign="space-around">
      <div fxLayout fxLayoutGap="10px" fxLayout.xs="column"fxLayout.sm="column" >
        <mat-form-field class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
          <mat-label>immatriculationnnn</mat-label>
          <input matInput  type="text"
                 [formControl]="immatriculation"/>
          <button  matSuffix mat-icon-button aria-label="Clear"
                   (click)="reset('immatriculation')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
          <mat-label>nom </mat-label>
          <input matInput  type="text"
                 [formControl]="nom"/>
          <button  matSuffix mat-icon-button aria-label="Clear"
                   (click)="reset('nom')">
            <mat-icon>close</mat-icon>
          </button>
          <span class="validation-error" *ngIf="(nom.touched) && nom.errors?.['required']">Le nom est obligatoire</span>
          <span class="validation-error" *ngIf="(nom.touched)  && nom.errors?.['minlength'] || nom.errors?.['maxlenth']">Vous devez saisir au minimun 3 charactères</span><br>
        </mat-form-field>
      </div>
      <div fxLayout fxLayoutGap="10px" fxLayout.xs="column"fxLayout.sm="column" >
        <mat-form-field class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
          <mat-label>volume </mat-label>
          <input matInput  type="number"
                 [formControl]="volume"/>
          <button  matSuffix mat-icon-button aria-label="Clear"
                   (click)="reset('email')">
            <mat-icon>close</mat-icon>
          </button>
          <span class="validation-error" *ngIf="(volume.touched) && volume.errors?.['required']">Le champ Volume est obligatoire et doit être un nombre</span>
          <span class="validation-error" *ngIf="volume.errors?.['min']">Le nombre doit être supérieur à 3</span><br>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>
