@charset "UTF-8";
@import "src/assets/css/DSCOM-variables.scss";
.recherche{
  text-align: justify;
}
.btn-ajouter{
  margin-top: -0.02em!important;
  font-size: 13px!important;
  font-family: normal;
}
.result-filtre{
  margin-top:-1em!important;

}
.recherche-mat-form-field::ng-deep.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 4px;
  padding-bottom: 4px;
  min-height: 36px;
}

.recherche-mat-form-field::ng-deep.mat-mdc-icon-button {
  position: absolute;
  top: 50%;
  height: 48px;
  left: 97%;
  width: 50px;
  transform: translate(-50%, -50%);
  color: $orange-600!important;
}
