@charset "UTF-8";
@import "src/assets/css/DSCOM-variables.scss";
.recherche{
  padding-right: 2em;
  padding-left: 2em;
  margin-bottom: 2em;
}
.contenair-filter{
  margin-bottom: 0.2em!important;
  padding-right: 0.5em!important;
  padding-bottom: 0.05em!important;
}

.recherche-mat-form-field::ng-deep.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 4px;
  padding-bottom: 4px;
  min-height: 30px;
}

.new--depot--button {
  position: relative;
  z-index: 9999;
  transform: translateY(-11px);
  &.mat-button-disabled {
    background-color: gray;
  }
  background-color: $orange-4!important;
}
.recherche-mat-form-field{
  height: 24px!important;
}
.recherche-mat-form-field ::ng-deep.mat-mdc-form-field-subscript-wrapper {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  height: 0px;
}
.btn-export{
  color: $orange-500!important;
  background: $white!important;
  border: 2px solid  $orange-500!important;
  border-radius: 4px!important;
  &:hover{
    background-color: $white!important;
    border: 2px solid  $orange-2!important;
    color: $orange-2!important;
  }
}
.container-action{
  padding-bottom: 0.01em!important;
}
