@charset "UTF-8";
@import "src/assets/css/DSCOM-variables.scss";

.devise{
  color:black;
  font-size: 10px;
  font-family:Impact;
  font-family:"Brush Script MT";
}
.flex-container{
  font-size: 12px;
  padding-left:5em;
  padding-right:5em;
}
.titre{
  color: #d60a7f !important;
}

.deconnexion-action {
  color: #d60a7f !important;
}


