<title>{{appConfig.getLabel('header.title')}}</title>
<title>{{appConfig.getLabel('header.title')}}</title>

<div *ngIf="isLoggedIn && utilisateurConnecte$ | async as utilisateurConnecte" class="flex-container header"  fxLayout="row" fxLayoutAlign="space-between stretch"
     fxHide fxShow.gt-sm >
  <div  class="logo">
    <img src="../../../../assets/img/drapeau_senegal.png" height="20" width="30"
         ngSrcset="50w, 100w, 200w, 200w" alt="bandeau"/>
    <div>{{appConfig.getLabel('label.ministere')}}</div>
    <div>{{appConfig.getLabel('label.ministere.mines')}}</div>
    <div>{{appConfig.getLabel('label.ministere.geologie')}}</div>
    <div class="devise">{{appConfig.getLabel('label.devise')}}</div>
  </div>
  <div class="titre titre-position" fxLayout="row " fxLayoutAlign="center center" >
    <h2>{{appConfig.getLabel('label.direction.cycle')}}</h2>
  </div>
  <div fxLayout="row " fxLayoutAlign="center center">
    <button mat-icon-button>
      <mat-icon class="disabled--icon">settings</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>help_outline</mat-icon>
    </button>
    <div>{{utilisateurConnecte.prenom}}</div>
    <button mat-icon-button [matMenuTriggerFor]="menu"  aria-label="Example icon-button with a menu">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
  <mat-menu class="mat-menu" #menu="matMenu" >
    <button mat-menu-item class="user--menu--name">
      <mat-icon>account_circle</mat-icon>
      <span>{{utilisateurConnecte.label}}</span>
    </button>
    <button mat-menu-item>
      <mat-icon></mat-icon>
      <span>Administrateur </span>
    </button>
    <button mat-menu-item>
      <mat-icon>mail</mat-icon>
      <span>{{utilisateurConnecte.email}}</span>
    </button>
    <hr/>
    <button mat-menu-item class="button-login" (click)="logout()" href="#">
      <mat-icon class="deconnexion-action">power_settings_new</mat-icon>
      <span class="deconnexion-action">se déconnecter</span>
    </button>
  </mat-menu>
</div>
<div  class="mt-05" fxHide fxShow.gt-sm ></div>
<!--<hr/> -->


