<div class="container" style="width: 500px; margin: 0 auto;">
    <div class="screen mt-1"  fxLayout="row"  fxLayout fxLayoutAlign="space-around center" fxLayout.lt-md="column" 
        fxLayoutAlign.lt-md="space-evenly none" fxLayoutGap="2">
        <div fxFlex="100" fxFlex.xs="100" class="screen__content">
            <app-dscom-info></app-dscom-info>
        </div>
    </div>
    <fieldset class="mt-1 pb-1 dcsom-fieldset-orange">
        <legend class="titre-form">{{appConfig.getLabel('reset.password.title')}}</legend>
        <form  (submit)="resetPwd()" [formGroup]="forgotPwdForm" class="stepper--conteneur mt-1" fxLayout fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap="10px">
            <!--<div fxLayout fxLayoutGap="10px" fxLayout.xs="column"fxLayout.sm="column" >
                <mat-form-field class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
                    <mat-label>Identifiant </mat-label>
                    <input matInput [formControl]="userLogin"  type="text" placeholder="Votre identifiant" required/>
                    <mat-error *ngIf="userLogin.errors?.hasOwnProperty('required')">{{appConfig.getLabel('error.champ.obligatoire')}}</mat-error>
                </mat-form-field>
            </div>-->
            <div fxLayout fxLayoutGap="10px" fxLayout.xs="column"fxLayout.sm="column" >
                <mat-form-field class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
                    <mat-label>E-mail </mat-label>
                    <input matInput [formControl]="userEmail"  type="email" placeholder="Votre e-mail" required/>
                    <mat-error *ngIf="userEmail.errors?.hasOwnProperty('pattern') || userEmail.errors?.hasOwnProperty('email')">{{appConfig.getLabel('error.email.invalid')}}</mat-error>
                    <mat-error *ngIf="userEmail.errors?.hasOwnProperty('required')">{{appConfig.getLabel('error.champ.obligatoire')}}</mat-error>
                </mat-form-field>
            </div>
            <div class="contenair-btn"  Layout fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="20" fxLayoutAlign="space-around center" >
                <button  mat-raised-button (click)="cancel()" ><mat-icon matSuffix>close</mat-icon>{{appConfig.getLabel('global.cancel')}}</button>
                <button  mat-raised-button type="submit" [disabled]="!forgotPwdForm.valid"><mat-icon matSuffix>autorenew</mat-icon>{{appConfig.getLabel('global.init')}}</button>
            </div>
        </form>
    </fieldset>
</div>
