
<div class="container">
  <div class="screen"  fxLayout="row"  fxLayout fxLayoutAlign="space-around center"
       fxLayout.lt-md="column"fxLayoutAlign.lt-md="space-evenly none"
       fxLayoutGap="2">
    <div  fxFlex="50" fxFlex.xs="100" class="screen__content">
      <app-dscom-login  (formLogin)="login($event)"></app-dscom-login>
    </div>
    <div fxFlex="50" fxFlex.xs="100" class="screen__content">
      <app-dscom-info></app-dscom-info>
    </div>
  </div>
  <div class="screen__background" fxLayout fxLayoutAlign="space-around center">
    <span class="screen__background__shape screen__background__shape4"></span>
    <span class="screen__background__shape screen__background__shape3"></span>
   <span class="screen__background__shape screen__background__shape2"></span>
    <span class="screen__background__shape screen__background__shape1"></span>
  </div>
</div>

