@charset "UTF-8";
@import "src/assets/css/DSCOM-variables.scss";
.login {
 // background: white;
  color: $red-200;
  color:black;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  /*padding-left:5%;
  padding-right:5% ;
  */
  margin-top: 1%;

}
.test{

  height: 100%;
  padding-top: 0.5em;   height:42px!important;
  font-family: Calibri !important;;
  font-style: normal !important;
  text-transform: capitalize !important;


}
