<mat-card class="mat-card flex-container info" fxLayout="column" fxLayoutAlign="space-between stretch"
          fxHide fxShow.gt-xs >
  <mat-card-content fxLayout="column" fxLayoutAlign="center center">
    <div class="direction">
      <h4><strong>{{appConfig.getLabel('label.direction.nom')}}</strong></h4>
    </div>
  </mat-card-content>
  <mat-card-content>
    <div class="flex-container titre"  fxLayout="column" fxLayoutAlign="center center">
      <div><h4>{{appConfig.getLabel('label.info.application')}}</h4></div>
      <div>Description de l'appliction </div>
      <div>GUIDES</div>
    </div>
  </mat-card-content>
  <mat-card-content>

  </mat-card-content>
</mat-card>

