<mat-card class="mat-card  flex-container info" fxLayout="column" fxLayoutAlign="space-between stretch">
  <!--fxHide fxShow.gt-xs-->
  <mat-card-content  fxLayout="column" fxLayoutAlign="center center">
    <div  fxLayout="column" fxLayoutAlign="center center" >
      <div>
        <img class="bandeau-medium" src="../../../../assets/img/logo.svg"
             srcset="../../../../assets/img/logo.svg 60w,  ./assets/img/logomaison.svg 60w" width="70"
             height="70"
             sizes="(min-width: 60px) 60px, 50vw" alt="bandeau"/>
      </div>
      <div class="direction">
        <strong>{{appConfig.getLabel('label.direction.nom')}}</strong>
      </div>
    </div>
  </mat-card-content>
  <mat-card-content>
    <div class="flex-container titre"  fxLayout="column" fxLayoutAlign="center center">
      <div class="nom-application">
        <h5>{{appConfig.getLabel('label.info.application')}}</h5>
      </div>
      <div class="description">Description de l'application</div>
      <div><p>GUIDES</p></div>
    </div>
  </mat-card-content>
</mat-card>

