@charset "UTF-8";
@import "src/assets/css/DSCOM-variables.scss";
.container-footer{
  font-size: 12px;
  padding-left:5em;
  padding-right:5em;
  color: black;
  text-align: center;
  background-color:  #fbf0e9;
}
