<div class="mt-1" style="padding: 2%;">
    <div class="table-container" fxLayout fxLayout="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="2px">
        <table mat-table matSort  [dataSource]="listVehicule"  class="mat-elevation-z1 table-parent" matSort>
            <!-- COLONNE : PRENOM -->
            <ng-container matColumnDef="Prenom">
                <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
                  <div class="d-flex">Prenom</div>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="d-flex">{{element?.transporteur.prenom}}</div>
                </td>
            </ng-container>

            <!-- COLONNE : NOM -->
            <ng-container matColumnDef="Nom">
                <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
                  <div class="d-flex">Nom</div>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="d-flex">{{element?.transporteur.nom}}</div>
                </td>
            </ng-container>

            <!-- COLONNE : TELEPHONE-->
            <ng-container matColumnDef="Téléphone">
                <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
                  <div class="d-flex">Téléphone</div>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="d-flex">{{element?.transporteur.telephone}}</div>
                </td>
            </ng-container>

            <!-- COLONNE : EMAIL-->
            <ng-container matColumnDef="Email">
                <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
                  <div class="d-flex">Email</div>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="d-flex">{{element?.transporteur.email}}</div>
                </td>
            </ng-container>

            <!-- COLONNE : Immatriculation -->
            <ng-container matColumnDef="Immatriculation">
                <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
                  <div class="d-flex">Immatriculation</div>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="d-flex">{{element.immatriculation}}</div>
                </td>
            </ng-container>

            <!-- COLONNE : Classe -->
            <ng-container matColumnDef="Classe">
                <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
                  <div class="d-flex">Classe</div>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="d-flex">{{element.categorie.type}}</div>
                </td>
            </ng-container>

            <!-- COLONNE : Volume -->
            <ng-container matColumnDef="Volume">
                <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
                  <div class="d-flex">Volume</div>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="d-flex">{{element.categorie.volume}}</div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="redirect(row)" routerLink="/admin/vehiculeNouveau"></tr>

        </table>
        <!-- container de pagination -->
        <mat-paginator [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 showFirstLastButtons>
        </mat-paginator>

    </div>
</div>

