<div class="mt-05">
  <app-actions-critere-btns fxShow="false" fxHide.gt-xs="false"
    [numberResult]="2"
    [singulier]="appConfig.getLabel('recherche.utilisateur.singulier.label') "
    [plurier]="appConfig.getLabel('recherche.utilisateur.pluriel.label')"
    [tooltip]="appConfig.getLabel('label.tooltip.voiture')"
    [search]="search"
     [visibleBtnCreation]="true"
    (btnAjouter)="ouvreNouveauVehicule()"
     (btnAjouterFiltre)="ajouterFiltre($event)"
     (btnAnnulerFiltre)="annulerFiltre($event)"
     [critereRecherches]="critereRecherches$"
     [resultautocompleteRecherche]=rechercheSuggestions$>
  </app-actions-critere-btns>
    <div fxShow="false" fxHide.gt-xs="false" class="table-container" fxLayout fxLayout="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="2px">
        <table mat-table matSort  [dataSource]="listVehicule"  class="mat-elevation-z0 table-parent" matSort>
            <!-- COLONNE : PRENOM -->
          <ng-container matColumnDef="NomRS">
            <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
              <div class="d-flex">Prenom-Nom/RS</div>
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex">{{element?.transporteur.type=='S'?element?.transporteur.nom :element?.transporteur.nom}}</div>
            </td>
          </ng-container>
          <!--
        <ng-container matColumnDef="Prenom">
            <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
              <div class="d-flex">Prenom</div>
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex">{{element?.transporteur.prenom}}</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="Nom">
            <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
              <div class="d-flex">Nom</div>
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex">{{element?.transporteur.nom}}</div>
            </td>
        </ng-container>
           ---->
            <!-- COLONNE : TELEPHONE-->
            <ng-container matColumnDef="Téléphone">
                <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
                  <div class="d-flex">Téléphone</div>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="d-flex">{{element?.transporteur.telephone}}</div>
                </td>
            </ng-container>

            <!-- COLONNE : EMAIL-->
            <ng-container matColumnDef="Email">
                <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
                  <div class="d-flex">Email</div>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="d-flex">{{element?.transporteur.email}}</div>
                </td>
            </ng-container>

            <!-- COLONNE : Immatriculation -->
            <ng-container matColumnDef="Immatriculation">
                <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
                  <div class="d-flex">Immatriculation</div>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="d-flex">{{element.immatriculation}}</div>
                </td>
            </ng-container>

            <!-- COLONNE : Classe -->
            <ng-container matColumnDef="Classe">
                <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
                  <div class="d-flex">Classe</div>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="d-flex">{{element.categorie.type}}</div>
                </td>
            </ng-container>

            <!-- COLONNE : Volume -->
            <ng-container matColumnDef="Volume">
                <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
                  <div class="d-flex">Volume(m3)</div>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="d-flex">{{element.categorie.volume}}</div>
                </td>
            </ng-container>
          <ng-container matColumnDef="dateCreation">
            <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
              <div class="d-flex">Date de création</div>
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex">{{formatDate(element.dateCreation)}}</div>
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
              <div class="d-flex">actions</div>
            </th>
            <td mat-cell *matCellDef="let element">
              <div *appAutorisation="['ADMIN','EDIT']"  class=" d-flex" fxLayout="row" fxLayoutAlign="space-evenly stretch" fxLayoutGap="2px">
                <mat-icon class="blue-label-icon" (click)="chargerVoiture(element)">create</mat-icon>
              </div>
            </td>
          </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-utilisateur"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <!-- container de pagination -->
        <mat-paginator [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 showFirstLastButtons>
        </mat-paginator>

    </div>



  <div class="user-mobile" fxShow="true" fxHide.gt-xs="true" *ngIf="vehicules$|async as vehicules">
    <div>
      <button mat-fab
              matTooltipPosition="left"
              matTooltip="{{appConfig.getLabel('header.btn.utilisateur.creer.tooltip')}}"
              matTooltipClass="custom-tooltip"
              (keydown)="ouvreNouveauVehicule()" (click)="ouvreNouveauVehicule()"
              class="new--contract--button-mobil">

        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div *ngFor="let voiture of vehicules" fxLayout="column" fxLayoutAlign="space-between stretch" class="row-user-mobile">
      <div fxLayout="row" fxLayoutAlign="start none"  >
        <div fxFlex="20"  fxLayout="column" fxLayoutAlign="space-around center">
          <button class="circular-button"  (click)="chargervehicule(voiture)">
            <mat-icon> directions_car</mat-icon>
          </button>
        </div>
        <div class="contenaire-info" fxFlex="80" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="2px">
          <div class="titre-prenom">{{voiture.immatriculation}}</div>
          <div class="titre-second">{{voiture.categorie.type}} - {{voiture.categorie.volume}} (cm3)</div>
          <div class="titre-second">{{voiture.transporteur.nom}}</div>
          <div class="titre-second">{{voiture.transporteur.telephone}}
            <mat-icon> local_phone</mat-icon>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>

