
<fieldset class="mt-1">
  <legend class="titre-form">{{titre}}</legend>
  <div class="mt-1">
    <form  class="stepper--conteneur"[formGroup]="myform" fxLayout fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap="10px">
      <div fxLayout fxLayoutGap="10px" fxLayout.xs="column"fxLayout.sm="column" >
        <mat-form-field class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
          <mat-label>Nom du site </mat-label>
          <input matInput  type="text"
                 [formControl]="nom"/>
          <button  matSuffix mat-icon-button aria-label="Clear"
                   (click)="reset('nom')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="nom.errors?.hasOwnProperty('required')">
            {{appConfig.getLabel('error.champ.obligatoire')}}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
          <mat-label>Localité </mat-label>
          <input matInput  type="text"
                 [formControl]="localite"/>
          <button  matSuffix mat-icon-button aria-label="Clear"
                   (click)="reset('localite')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="localite.errors?.hasOwnProperty('required')">
            {{appConfig.getLabel('error.champ.obligatoire')}}
          </mat-error>
        </mat-form-field>
      </div>

    </form>
  </div>

</fieldset>
<div class="mat-elevation-z0 mt-1">
  <app-action-btns [btns]="btns"  (btnClick)="siteAction($event)"></app-action-btns>
</div>


