
<div class="mt-05">
<div fxLayout="column" fxLayoutGap="10px" >
  <div fxLayout="row" fxLayoutAlign="space-around center" >
  <div>Numero :1100</div>
  <div>Nom du depot: testest</div>
  <div>Etat du depot : Encours ..</div>
</div>
  <div fxLayout="row" fxLayoutAlign="space-around center" >
    <div>Nom du Site de pesage: thies</div>
    <div>nom du fichier : depot-thies.xml</div>
  </div>
</div>
  <div fxLayout="column" fxLayoutGap="10px" >
    <div fxLayout="row" fxLayoutAlign="space-around center" >
      <div>Total de chargement</div>
      <div> Nombre</div>
      <div>Nom du depot: testest</div>
      <div>Etat du depot : Encours ..</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" >
      <div>Nombre d’analyses redéposées</div>
      <div>Nombre de chargement en erreur suite au contrôle :</div>
      <div>Etat du depot : Encours ..</div>
    </div>
  </div>
  <div fxLayout="column" fxLayoutGap="10px" >
    <div fxLayout="row" fxLayoutAlign="space-around center" >
      <div>Liste Erreur</div>
    </div>
  </div>
</div>
