<div class="mt-1" *ngIf="depot$ |async as depot">
  <div class="bilan-depot" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="8px">
    <div class="entete-import" fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="10px">
      <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
        <div class="titre-demande">Numero Import</div>
        <div class="depot-continue">{{depot.id}}</div>
      </div>
      <div class="sepDiv"></div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
        <div class="titre-demande">Site de pesage </div>
        <div class="depot-continue">{{depot.site.nom}}</div>
      </div>
      <div class="sepDiv"></div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
        <div class="titre-demande">Nom du fichier </div>
        <div class="depot-continue">{{depot.nomFichier}}</div>
      </div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
        <div class="titre-demande">Nom import </div>
        <div class="depot-continue">{{depot.nom}}</div>
      </div>
      <div class="sepDiv"></div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
        <div class="titre-demande">Date Debut de traitement</div>
        <div class="depot-continue">{{depot.dateHeureDepot}}</div>
      </div>
      <div class="sepDiv"></div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
        <div class="titre-demande">Date fin de traitement</div>
        <div class="depot-continue">{{depot.dateHeureFinDepot}}</div>
      </div>
      <div class="sepDiv"></div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
        <div class="titre-demande">Status </div>
        <div class="depot-continue ">{{depot.statut}}</div>
      </div>
      <div class="sepDiv"></div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
        <div class="titre-demande">Deposeur</div>
        <div class="depot-continue ">{{depot.deposeur.prenom}}</div>
      </div>
    </div>
    <div fxLayout="column" class="bilan">
      <div class="titre">{{appConfig.getLabel("bilan.import")}}</div>
    <div class="mt-1"fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="1px">
      <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
        <div class="result-titre">{{appConfig.getLabel("bilan.import.chargement")}}</div>
        <div class="result-continue">20</div>
      </div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
        <div class="result-titre">{{appConfig.getLabel("bilan.import.depose")}}</div>
        <div class="result-continue">15</div>
      </div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
        <div class="result-titre">{{appConfig.getLabel("bilan.import.redepose")}}</div>
        <div class="result-continue">5</div>
      </div>

      <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
        <div class="result-titre">{{appConfig.getLabel("bilan.import.error")}}</div>
        <div class="result-continue">5</div>
      </div>
    </div>

      <div class="mt-1"fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="1px">
        <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
          <div class="result-titre">{{appConfig.getLabel("bilan.import.error.technique")}}</div>
          <div class="result-continue">0</div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
          <div class="result-titre">{{appConfig.getLabel("bilan.import.error.doublon")}}</div>
          <div class="result-continue">1</div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
          <div class="result-titre">{{appConfig.getLabel("bilan.import.error.site")}}</div>
          <div class="result-continue">3</div>
        </div>

        <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
          <div class="result-titre">{{appConfig.getLabel("bilan.import.error.produit.inconnue")}}</div>
          <div class="result-continue">1</div>
        </div>
      </div>
  </div>
  </div>
</div>


