
<div class="mt-2" *ngIf="depot$ |async as depot" class="bilan-depot" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="8px">
  <div class="container-titre"  fxLayout="row" fxLayoutAlign="center center" >
    <mat-label class="container-libelle-bilan">La fiche detail de l'import </mat-label>
  </div>
  <div fxLayout.lt-md="column" fxLayout="row" class="container-detail" fxLayoutGap="32px">
  <div fxLayout="column" [fxFlex]="50" [fxFlex.lt-md]="100" class="container-depot" fxLayoutAlign="start stretch" fxLayoutGap="2px">
    <div fxLayout="row" class="libelle-titre-depot"> Information du depot</div>
    <div fxLayout="row" fxLayoutAlign="start center"  fxLayoutGap="4px">
      <div class="result-titre" [fxFlex]="fxtitre">Numéro</div>
      <div class="result-continue" [fxFlex]="fxresult">{{depot?.id}}</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center"  fxLayoutGap="4px">
      <div class="result-titre" [fxFlex]="fxtitre">Site de pesage :</div>
      <div class="result-continue" [fxFlex]="fxresult"><span>{{depot?.site?.nom}}</span></div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center"  fxLayoutGap="4px">
      <div class="result-titre" [fxFlex]="fxtitre">Nom du fichier de l'importer :</div>
      <div class="result-continue" [fxFlex]="fxresult">{{depot?.nomFichier}}</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center"  fxLayoutGap="4px">
      <div class="result-titre" [fxFlex]="fxtitre">Date Debut de l'import :</div>
      <div class="result-continue" [fxFlex]="fxresult">{{depot?.dateHeureDepot}}</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center"  fxLayoutGap="4px">
      <div class="result-titre" [fxFlex]="fxtitre">Date Fin de l'import :</div>
      <div class="result-continue" [fxFlex]="fxresult">{{depot?.dateHeureFinDepot}}</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center"  fxLayoutGap="4px">
      <div class="result-titre" [fxFlex]="fxtitre">Statut :</div>
      <div class="result-continue" [fxFlex]="fxresult">{{depot?.statut}}</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center"  fxLayoutGap="4px">
      <div class="result-titre" [fxFlex]="fxtitre">Deposeur du Fichier :</div>
      <div class="result-continue" [fxFlex]="fxresult">{{depot?.deposeur.prenom}} - {{depot?.deposeur.nom}}</div>
    </div>
  </div>
  <!-- --->
  <div fxLayout="column" [fxFlex]="50" [fxFlex.lt-md]="100" class="container-depot" fxLayoutGap="2px">
    <div fxLayout="row" class="libelle-titre-depot"> Information de la quantité du depot</div>
    <div fxLayout="row" fxLayoutAlign="start center"  fxLayoutGap="4px">
      <div class="result-titre" [fxFlex]="fxtitre">Total de chargement:</div>
      <div class="result-continue" [fxFlex]="fxresult">{{depot?.nbChargementTotal}}</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center"  fxLayoutGap="4px">
      <div class="result-titre" [fxFlex]="fxtitre">Total de chargement deposé :</div>
      <div class="result-continue" [fxFlex]="fxresult">{{depot?.nbChargementDeposes}}</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center"  fxLayoutGap="4px">
      <div class="result-titre" [fxFlex]="fxtitre">Total de chargement redeposé :</div>
      <div class="result-continue" [fxFlex]="fxresult">{{depot?.nbChargementReDeposes}}</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center"  fxLayoutGap="4px">
      <div class="result-titre" [fxFlex]="fxtitre">Total de chargement en erreur :</div>
      <div class="result-continue" [fxFlex]="fxresult">{{depot?.nbChargementErreur}}</div>
    </div>
  </div>
  </div>
  <div fxLayout="column"    *ngIf="errorDepot$ |async as erreurDepots" class="container-detail" fxLayoutGap="4px">
    <div fxLayout="row"  fxLayoutAlign="start center" class="libelle-titre-depot"> Information des erreurs de l'import</div>
    <table class="custom-table" *ngIf="erreurDepots.length>0">
      <tr>
        <th class="header-cell">Numero Dépot</th>
        <th class="header-cell">Occurence</th>
        <th class="header-cell">Message Erreur</th>

      </tr>
      <tr *ngFor="let erreur of erreurDepots">
        <td class="depot-cell">{{erreur?.idDepot}}</td>
        <td class="depot-cell">{{erreur?.nombreErreur}}</td>
        <td class="depot-cell-message">{{erreur?.message}}</td>
      </tr>
    </table>
  </div>
</div>





<!--

<div class="mt-1" *ngIf="depot$ |async as depot">
  <div class="bilan-depot" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="8px">
    <div class="entete-import" fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="10px">
      <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
        <div class="titre-demande">Numero Import</div>
        <div class="depot-continue">{{depot.id}}</div>
      </div>
      <div class="sepDiv"></div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
        <div class="titre-demande">Site de pesage </div>
        <div class="depot-continue">{{depot.site.nom}}</div>
      </div>
      <div class="sepDiv"></div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
        <div class="titre-demande">Nom du fichier </div>
        <div class="depot-continue">{{depot.nomFichier}}</div>
      </div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
        <div class="titre-demande">Nom import </div>
        <div class="depot-continue">{{depot.nom}}</div>
      </div>
      <div class="sepDiv"></div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
        <div class="titre-demande">Date Debut de traitement</div>
        <div class="depot-continue">{{depot.dateHeureDepot}}</div>
      </div>
      <div class="sepDiv"></div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
        <div class="titre-demande">Date fin de traitement</div>
        <div class="depot-continue">{{depot.dateHeureFinDepot}}</div>
      </div>
      <div class="sepDiv"></div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
        <div class="titre-demande">Status </div>
        <div class="depot-continue ">{{depot.statut}}</div>
      </div>
      <div class="sepDiv"></div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
        <div class="titre-demande">Deposeur</div>
        <div class="depot-continue ">{{depot.deposeur.prenom}}</div>
      </div>
    </div>
    <div fxLayout="column" class="bilan">
      <div class="titre">{{appConfig.getLabel("bilan.import")}}</div>
    <div class="mt-1"fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="1px">
      <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
        <div class="result-titre">{{appConfig.getLabel("bilan.import.chargement")}}</div>
        <div class="result-continue">20</div>
      </div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
        <div class="result-titre">{{appConfig.getLabel("bilan.import.depose")}}</div>
        <div class="result-continue">15</div>
      </div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
        <div class="result-titre">{{appConfig.getLabel("bilan.import.redepose")}}</div>
        <div class="result-continue">5</div>
      </div>

      <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
        <div class="result-titre">{{appConfig.getLabel("bilan.import.error")}}</div>
        <div class="result-continue">5</div>
      </div>
    </div>

      <div class="mt-1"fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="1px">
        <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
          <div class="result-titre">{{appConfig.getLabel("bilan.import.error.technique")}}</div>
          <div class="result-continue">0</div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
          <div class="result-titre">{{appConfig.getLabel("bilan.import.error.doublon")}}</div>
          <div class="result-continue">1</div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
          <div class="result-titre">{{appConfig.getLabel("bilan.import.error.site")}}</div>
          <div class="result-continue">3</div>
        </div>

        <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="20">
          <div class="result-titre">{{appConfig.getLabel("bilan.import.error.produit.inconnue")}}</div>
          <div class="result-continue">1</div>
        </div>
      </div>
  </div>
  </div>
</div>

-->
