
<mat-card class="mt-1">
  <mat-card-header class="mat-card-header">
    <mat-card-title class="mat-card-title">Création d'un transport </mat-card-title>
  </mat-card-header>
  <mat-card-content class="mt-1">
    <form  (submit)="sauvegarder()"  class="stepper--conteneur"[formGroup]="myform" fxLayout fxLayout="column" fxLayoutAlign="space-around">
      <div fxLayout fxLayoutGap="10px" fxLayout.xs="column"fxLayout.sm="column" >
        <mat-form-field class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
          <mat-label>Prenom </mat-label>
          <input matInput  type="text"
                 [formControl]="prenom"/>
          <button  matSuffix mat-icon-button aria-label="Clear"
                   (click)="reset('prenom')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
          <mat-label>nom </mat-label>
          <input matInput  type="text"
                 [formControl]="nom"/>
          <button  matSuffix mat-icon-button aria-label="Clear"
                   (click)="reset('nom')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div fxLayout fxLayoutGap="10px" fxLayout.xs="column"fxLayout.sm="column" >
        <mat-form-field class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
          <mat-label>email </mat-label>
          <input matInput  type="text"
                 [formControl]="email"/>
          <button  matSuffix mat-icon-button aria-label="Clear"
                   (click)="reset('email')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
          <mat-label>telephone</mat-label>
          <input matInput  type="text"
                 [formControl]="telephone"/>
          <button  matSuffix mat-icon-button aria-label="Clear"
                   (click)="reset('telephone')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div fxLayout fxLayoutGap="10px" fxLayout.xs="column"fxLayout.sm="column" >
        <mat-form-field class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
          <mat-label>type </mat-label>
          <input matInput  type="text"
                 [formControl]="type"/>
          <button  matSuffix mat-icon-button aria-label="Clear"
                   (click)="reset('login')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
          <mat-label>Adresse</mat-label>
          <input matInput
                 [formControl]="adresse"/>
          <button  matSuffix mat-icon-button aria-label="Clear"
                   (click)="reset('password')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>


