@charset "UTF-8";
@import "src/assets/css/DSCOM-variables.scss";
.mat-card-title{
  font-family: "Arial Black";
  font-size: small;
  font-weight: bold;
  color: #333;
}
mat-card-header{
  padding-top: 0em;
  padding-left: 1em;
}
