@charset "UTF-8";
@import "src/assets/css/DSCOM-variables.scss";
.responsive-column-layout{
  height: 50vh;
}

.graphe-bar{
 // border: 0.01em solid $orange-600!important;
}
ngx-charts-pie-chart {
  color: $orange-700!important;
  font-size: 14px;
  font-style: normal;
}
