@charset "UTF-8";
@import "src/assets/css/DSCOM-variables.scss";
.mat-card {
  text-align: center;
  box-shadow: none; // NOSONAR
  padding: 0;
  padding-top: 2em;
  background: white;
}
.logo {
  display: flex;
  flex-direction: row;
  background: white;
  color: $red-200;
  color:black;
  font-size: 12px;
}
.devise{
  color:black;
  font-size: 10px;
  font-family:Impact;
  font-family:"Brush Script MT";
}
.card-container {
  margin-top: 3.5em;
}
card--container{
  background:rebeccapurple;
}
.mat-form-field {
  width: 100%;
  font-size: 16px;
}
.footer{
  margin-top: 3.5em;
}
a{
  font-size: 12px;
  color: $orange-600 !important;
  text-decoration: none;
}

