<mat-card class="mat-card flex-container" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="20px">
  <mat-card-content fxLayout fxLayout="column" fxLayoutAlign="space-around">
    <div class="flex-container logo"  fxLayout="row" fxLayoutAlign="center center">
      <div>
        <img src="./assets/img/drapeau_senegal.png"  height="20" width="30"
             ngSrcset="50w, 100w, 200w, 200w" alt="bandeau"/>
        <div>{{appConfig.getLabel('label.ministere')}}</div>
        <!--<div>{{appConfig.getLabel('label.ministere.mines')}}</div> -->
        <div>{{appConfig.getLabel('label.ministere.geologie')}}</div>
        <div class="devise">{{appConfig.getLabel('label.devise')}}</div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-content  fxLayout fxLayout="column" fxLayoutAlign="space-around" >
    <form (submit)="login()" [formGroup]="myform" id="form">
      <div class="header-login">
        <span>{{appConfig.getLabel('authentification')}}</span>
      </div>
      <br />
      <div fxLayout fxLayout="column" fxLayoutGap="10px">
        <mat-form-field appearance="outline" fxFlex="50" floatLabel="always">
          <mat-label>{{appConfig.getLabel("label.login")}}</mat-label>
          <input  matInput type="text" placeholder="identifiant"
                  [formControl]="propLogin" required>
          <mat-error *ngIf="propLogin.errors?.hasOwnProperty('emailExists')">
            {{appConfig.getLabel('error.login.or.email.invalid')}}
          </mat-error>
          <mat-error *ngIf="propLogin.errors?.hasOwnProperty('isActive') && !propLogin.errors?.hasOwnProperty('emailExists')">
            {{appConfig.getLabel('error.user.desabled')}}
          </mat-error>
        </mat-form-field>
        <mat-form-field  appearance="outline" fxFlex="50" floatLabel="always">
          <mat-label>{{appConfig.getLabel("label.password")}}</mat-label>
          <input  matInput type="password" placeholder="Mots de passe"
                  [formControl]="propPassword" required>
          <mat-error *ngIf="propPassword.errors?.hasOwnProperty('required')">
            {{appConfig.getLabel('error.password.obligatoire')}}
          </mat-error>
        </mat-form-field>
        <div  Layout fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="20" fxLayoutAlign="space-around center" >
          <a href="redevance#/forget-password">{{appConfig.getLabel("login.label.oublier")}}</a>
          <button  mat-raised-button [disabled]="!myform.valid">{{appConfig.getLabel('header.login')}}</button>
        </div>
      </div>
    </form>
    <div class="footer"></div>
  </mat-card-content>
</mat-card>
