<mat-card class="mat-card flex-container" fxLayout="column" fxLayoutAlign="space-between stretch">
  <mat-card-content>
    <div class="flex-container logo"  fxLayout="row" fxLayoutAlign="center center">
      <div>
        <img src="./assets/img/drapeau_senegal.png"  height="20" width="30"
             ngSrcset="50w, 100w, 200w, 200w" alt="bandeau"/>
        <div>{{appConfig.getLabel('label.ministere')}}</div>
        <div>{{appConfig.getLabel('label.ministere.mines')}}</div>
        <div>{{appConfig.getLabel('label.ministere.geologie')}}</div>
        <div class="devise">{{appConfig.getLabel('label.devise')}}</div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-content  fxLayout fxLayout="column" fxLayoutAlign="space-around">
    <form (submit)="login()" [formGroup]="myform" id="form">
      <div class="header-login">
        <h4>{{appConfig.getLabel('authentification')}}</h4>
      </div>
      <br />
      <!-- div start -->
      <div class="table">
        <span class="material-icons">
        </span>
      </div>
      <div fxLayout fxLayout="column">
        <mat-form-field class="mat-form-field" appearance="outline" fxFlex="50" floatLabel="always">
          <mat-label>{{appConfig.getLabel("label.login")}}</mat-label>
          <input  matInput type="text" placeholder="identifiant"
                  [formControl]="propLogin" required>
        </mat-form-field>
        <mat-form-field class="mat-form-field" appearance="outline" fxFlex="50" floatLabel="always">
          <mat-label>{{appConfig.getLabel("label.password")}}</mat-label>
          <input  matInput type="password" placeholder="Mots de passe"
                  [formControl]="propPassword" required>
        </mat-form-field>
        <div  Layout fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="20" fxLayoutAlign="space-around center" >
          <a href="#">{{appConfig.getLabel("login.label.oublier")}}</a>
          <button  mat-raised-button>{{appConfig.getLabel('header.login')}}</button>
        </div>
      </div>
    </form>
    <div class="footer"></div>
  </mat-card-content>
</mat-card>
