.stepper--conteneur {
  margin: 0.5rem 2rem 0;
}
.stepper--boutton--conteneur {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.stepper--boutton--conteneur button {
  border: 1px solid #D60A7FFF;
  color: #D60A7FFF;
  background-color: #fff;
  border-radius: 4px;
  padding: 6px 25px !important;
  transition: all 100ms ease-in;
}
.stepper--boutton--conteneur button:hover {
  cursor: pointer;
  background-color: #D60A7FFF;
  color: #ffffff;
}
