<div class="stepper--conteneur mt-1">
  <mat-horizontal-stepper >
    <mat-step class="data--form"  [stepControl]="stepperTransporteurComponent?.myform">
      <ng-template matStepLabel><div fxHide fxShow.gt-sm>transporteur</div></ng-template>
      <app-stepper-transporteur></app-stepper-transporteur>
      <div class="stepper--boutton--conteneur">
        <button mat-button matStepperNext class="btn-global-pink"><mat-icon>chevron_right</mat-icon>etape suivante</button>
      </div>
    </mat-step>
    <mat-step class="data--form"[stepControl]="stepperVehiculeComponent?.myform">
      <ng-template matStepLabel><div fxHide fxShow.gt-sm>Vehicule</div></ng-template>
      <app-stepper-vehicule></app-stepper-vehicule>
      <div class="stepper--boutton--conteneur">
        <button mat-button matStepperNext class="btn-global-pink"><mat-icon>chevron_right</mat-icon>etape suivante</button>
      </div>
    </mat-step>

    <mat-step class="data--form">
      <ng-template matStepLabel><div fxHide fxShow.gt-sm>valide</div></ng-template>
      <div fxLayout="row" fxLayoutAlign="center center">
        validation de la saisie
      </div>
      <div class="stepper--boutton--conteneur">
        <button mat-button matStepperNext class="btn-global-pink"
                (click)="submit(stepperTransporteurComponent?.myform.value,
                stepperVehiculeComponent?.myform?.value)">
          {{appConfig.getLabel('dcsom.actions.enregistrer')}}
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
