<title>{{appConfig.getLabel('header.title')}}</title>
<title>{{appConfig.getLabel('header.title')}}</title>
<!--
<div class="flex-container header"  fxLayout="row" fxLayoutAlign="space-between stretch"
     fxHide fxShow.gt-sm >
  <div >
    <img src="./assets/img/drapeau_senegal.png"  height="20" width="30"
         ngSrcset="50w, 100w, 200w, 200w" alt="bandeau"/>
    <div>{{appConfig.getLabel('label.ministere')}}</div>
    <div>{{appConfig.getLabel('label.ministere.mines')}}</div>
    <div>{{appConfig.getLabel('label.ministere.geologie')}}</div>
    <div class="devise">{{appConfig.getLabel('label.devise')}}</div>
  </div>
  <div></div>
</div>

-->

