
<div class="mt-05">
<app-actions-critere-btns fxShow="false" fxHide.gt-xs="false"
  [numberResult]="rechercheUtilisateurListe?.length"
  [singulier]="appConfig.getLabel('recherche.utilisateur.singulier.label') "
  [plurier]="appConfig.getLabel('recherche.utilisateur.pluriel.label')"
                      [tooltip]="appConfig.getLabel('header.btn.utilisateur.creer.tooltip')"
                      [search]="search"
                      [visibleBtnCreation]="true"
                      (btnAjouter)="ouvreNouveauUtilisateur()"
                      (btnAjouterFiltre)="ajouterFiltre($event)"
                      (btnAnnulerFiltre)="annulerFiltre($event)"
                      [critereRecherches]="critereRecherches$"
                      [resultautocompleteRecherche]=rechercheSuggestions$>
</app-actions-critere-btns>
<div fxShow="false" fxHide.gt-xs="false" class="table-container" fxLayout fxLayout="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="5px">
<table mat-table matSort  [dataSource]="dataSource"  class="mat-elevation-z0 table-parent " matSort>
  <ng-container matColumnDef="id">
    <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
      <div class="d-flex">N°</div>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="d-flex">{{element.id}}</div>
    </td>
  </ng-container>
  <ng-container matColumnDef="prenom"  >
    <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef fxHide.xs>
      <div class="d-flex">Prenom</div>
    </th>
    <td mat-cell *matCellDef="let element" fxHide.xs >
      <div class="d-flex up-case">{{element.prenom}}</div>
    </td>
  </ng-container>
  <ng-container matColumnDef="nom">
    <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs>
      <div class="d-flex">Nom</div>
    </th>
    <td mat-cell *matCellDef="let element" fxHide.xs>
      <div class=" d-flex up-case">{{element.nom}}</div>
    </td>
  </ng-container>
  <ng-container matColumnDef="email" >
    <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
      <div class="d-flex">Email</div>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="d-flex"><span>{{element.email}}</span></div>
    </td>
  </ng-container>
  <ng-container matColumnDef="profil">
    <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
      <div class="d-flex">Profil</div>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class=" d-flex up-case" >
        <div *ngFor="let profil of element.profils">
        {{ convertToLowercase(profil) }} </div>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="dateCreation">
    <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
      <div class="d-flex">date Creation</div>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="d-flex"><span>{{formatDate(element.dateCreation)}}</span></div>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
      <div class="d-flex">actions</div>
    </th>
    <td mat-cell *matCellDef="let element">
      <div *appAutorisation="['ADMIN','EDIT']"  class=" d-flex" fxLayout="row">
        <div   class=" d-flex pb-1" fxLayoutAlign="space-evenly stretch" fxLayoutGap="2px" fxHide.xs>
          <mat-icon  class="blue-label-icon" (click)="chargerUtilisateur(element)" matTooltip="{{appConfig.getLabel('btn.utilisateur.modif.tooltip')}}">create</mat-icon>
        </div>
        <div class=" d-flex pb-1" fxLayoutAlign="space-evenly stretch" fxLayoutGap="2px" fxHide.xs>
          <mat-icon *ngIf="element.active" (click)="desableUser(element)" class="blue-label-icon" matTooltipClass="custom-tooltip" matTooltip="{{appConfig.getLabel('btn.utilisateur.bloquer.tooltip')}}">lock_open </mat-icon>
          <mat-icon *ngIf="!element.active" (click)="desableUser(element)" class="blue-label-icon" matTooltip="{{appConfig.getLabel('btn.utilisateur.debloquer.tooltip')}}">lock</mat-icon>
        </div>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-utilisateur"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
  <div class="parging">
  <mat-paginator [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 showFirstLastButtons>
  </mat-paginator>
  </div>
</div>
  <div class="user-mobile" fxShow="true" fxHide.gt-xs="true" *ngIf="users$|async as users">
    <div>
      <button mat-fab
              matTooltipPosition="left"
              matTooltip="{{appConfig.getLabel('header.btn.utilisateur.creer.tooltip')}}"
              matTooltipClass="custom-tooltip"
              (keydown)="ouvreNouveauUtilisateur()" (click)="ouvreNouveauUtilisateur()"
              class="new--contract--button-mobil">

        <mat-icon>add</mat-icon>
      </button>
    </div>
   <div *ngFor="let user of users" fxLayout="column" fxLayoutAlign="space-between stretch" class="row-user-mobile">
     <div fxLayout="row" fxLayoutAlign="start none"  >
      <div fxFlex="20"  fxLayout="column" fxLayoutAlign="space-around center">
        <button class="circular-button"  (click)="chargerUtilisateur(user)">{{initial(user)}}</button>
      </div>
       <div class="contenaire-info" fxFlex="80" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="2px">
         <div class="titre-prenom">{{user.prenom}} {{user.nom}}</div>
         <div class="titre-second">{{user.email}}</div>
         <div>
           <div class="titre-profil titre-second" *ngFor="let profil of user.profils">
           {{convertToLowercase(profil)}}
           </div>
         </div>
       </div>
     </div>
     <hr>
   </div>
  </div>

</div>
<!--*appAutorisation="['ADMIN']" -->
