<div class=" mt-1">
  <div class="nb-pastille"fxLayout fxLayoutAlign="space-between center">
    <label class="nb-label blue-label">
      {{rechercheUtilisateurListe?.length}}
      {{rechercheUtilisateurListe?.length === 1 ? appConfig.getLabel('recherche.utilisateur.singulier.label') :
      appConfig.getLabel('recherche.utilisateur.pluriel.label')}}
    </label>
    <button mat-mini-fab
            matTooltipPosition="left"
            matTooltip="{{appConfig.getLabel('header.btn.utilisateur.creer.tooltip')}}"
            matTooltipClass="custom-tooltip"
            (keydown)="ouvreNouveauUtilisateur()" (click)="ouvreNouveauUtilisateur()"
            class="new--contract--button">

      <mat-icon>add</mat-icon>
    </button>
  </div>
<div class="table-container" fxLayout fxLayout="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="5px">
<table mat-table matSort  [dataSource]="dataSource"  class="mat-elevation-z8 table-parent" matSort>
  <ng-container matColumnDef="id">
    <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
      <div class="d-flex">N°</div>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="d-flex">{{element.id}}</div>
    </td>
  </ng-container>
  <ng-container matColumnDef="prenom"  >
    <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef fxHide.xs>
      <div class="d-flex">Prenom</div>
    </th>
    <td mat-cell *matCellDef="let element" fxHide.xs >
      <div class="d-flex">{{element.prenom}}</div>
    </td>
  </ng-container>
  <ng-container matColumnDef="nom">
    <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs>
      <div class="d-flex">Nom</div>
    </th>
    <td mat-cell *matCellDef="let element" fxHide.xs>
      <div class=" d-flex">{{element.nom}}</div>
    </td>
  </ng-container>
  <ng-container matColumnDef="email" >
    <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
      <div class="d-flex">Email</div>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="d-flex"><span>{{element.email}}</span></div>
    </td>
  </ng-container>
  <ng-container matColumnDef="profil">
    <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
      <div class="d-flex">Profil</div>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class=" d-flex" >
        <div *ngFor="let profil of element.profils">
        {{ convertToLowercase(profil) }} </div>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th class="table-contact-header table-header" mat-header-cell *matHeaderCellDef>
      <div class="d-flex">actions</div>
    </th>
    <td mat-cell *matCellDef="let element">
      <div   class=" d-flex" fxLayout="row" fxLayoutAlign="space-evenly stretch" fxLayoutGap="2px">
        <mat-icon *appAutorisation="['ADMIN']" class="blue-label-icon" (click)="chargerUtilisateur(element)"
        matTooltip="{{appConfig.getLabel('btn.utilisateur.modif.tooltip')}}">create</mat-icon>
        <div  *ngIf="element.active" fxHide.xs>
          <mat-icon *appAutorisation="['ADMIN']" class="blue-label-icon"
                    matTooltipClass="custom-tooltip"
                    matTooltip="{{appConfig.getLabel('btn.utilisateur.bloquer.tooltip')}}"
                    >lock_open </mat-icon>
        </div>
        <div *ngIf="!element.active" fxHide.xs>
          <mat-icon *appAutorisation="['ADMIN']" class="blue-label-icon"
                    matTooltip="{{appConfig.getLabel('btn.utilisateur.debloquer.tooltip')}}"
                    >lock</mat-icon>
        </div>
        <!--
        <div >
          <mat-icon class="blue-label-icon"(click)="chargerUtilisateur(element)">visibility</mat-icon>
        </div>
        -->

      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  <mat-paginator [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 showFirstLastButtons>
  </mat-paginator>
</div>
<!--class="detail-chip-lien"-->
</div>
