@charset "UTF-8";
@import "src/assets/css/DSCOM-variables.scss";
.table-container {
  overflow: auto;
  overflow-y: auto;
}



.nb-pastille {
  width: fit-content;
  border-radius: 2em;
  border-color: $orange-500!important;
  border-width: 1px;
  border-style: solid;
  color: $orange-500!important;
}

.nb-label {
  margin: 12px;
  font-size: 14px;
}


.pagination-btn-nb-label {
  transform: translateY(5%);
}


.form--chip {
  pointer-events: none;
}


.blue-label {
  color: $orange-500!important;
}
.blue-label-icon {
  color: #2196f3 !important;
  &:hover {
    cursor: pointer;
    color: $orange-500!important;
  }
}

