@charset "UTF-8";
@import "src/assets/css/DSCOM-variables.scss";
.table-container {
  overflow: auto;
  overflow-y: auto;
}



.nb-pastille {
  width: fit-content;
  border-radius: 2em;
  border-color: $orange-500!important;
  border-width: 1px;
  border-style: solid;
  color: $orange-500!important;
}

.nb-label {
  margin: 12px;
  font-size: 14px;
}
.mat-header-utilisateur{
  background: #f1eeee;
}

.pagination-btn-nb-label {
  transform: translateY(5%);
}


.form--chip {
  pointer-events: none;
}
mat-card{
  border-bottom: solid $orange-600 !important;
}

.blue-label {
  color: $orange-500!important;
  font-size: 14px !important;
  font-family: Calibri !important;
  font-style: normal !important;
}
.blue-label-icon {
  color: $orange-500!important;
  &:hover {
    cursor: pointer;
    color: $orange-500!important;
  }
}
.new--contract--button {
  position: absolute;

  left: 45%;
  transform: translate(50%, -42%);
  &.mat-button-disabled {
    background-color: gray;
  }
  background-color: $orange-500!important;
}

.mat-table {
  border-collapse: collapse;
}

 td {
   height:42px!important;
   font-size: 14px !important;
   font-family: Calibri !important;
   font-style: normal !important;
   line-height: 20px !important;
   text-transform: capitalize !important;

}
 tr{
   border: 1px solid #f1eeee;
 }

