@charset "UTF-8";
@import "src/assets/css/DSCOM-variables.scss";
.table-container {
  overflow: auto;
  overflow-y: auto;
}



.nb-pastille {
  width: fit-content;
  //border-radius: 2em;
 // border-color: $orange-500!important;
 // border-width: 1px;
 // border-style: solid;
 // color: $orange-500!important;
  margin-bottom: 0.25em!important;
}

.nb-label {
 // margin: 12px;
  font-size: 13px;
}
.mat-header-utilisateur{
  background: #f1eeee;
}

.pagination-btn-nb-label {
  transform: translateY(5%);
}


.form--chip {
  pointer-events: none;
}
mat-card{
  border-bottom: solid $orange-600 !important;
}

.blue-label {
  //color: $orange-500!important;
  //font-size: 13px !important;
  font-family: Calibri !important;
  font-style: normal !important;
}
.blue-label-icon {
  color: $orange-500!important;
  &:hover {
    cursor: pointer;
    color: $orange-500!important;
  }
}
.new--contract--button {
  position: absolute;

  left: 45%;
  transform: translate(50%, -42%);
  &.mat-button-disabled {
    background-color: gray;
  }
  background-color: $orange-500!important;
}

.mat-table {
  border-collapse: collapse;
}

 td {
   height:42px!important;
   font-size: 14px !important;
   font-family: Calibri !important;
   font-style: normal !important;
   line-height: 20px !important;
   text-transform: capitalize !important;

}
 tr{
   border: 1px solid #f1eeee;
   height: 44px!important;
 }
.circular-button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $orange-500!important;
  color: #ffffff; /* Set your desired text color */
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 0.5em;
  font-size: 16px; /* Set your desired font size */
  /* Add any additional styling you want */
}
.titre-prenom{
  font-size: 14px;
  font-family: "Arial Black";
  text-transform: capitalize;
}
.user-mobile{
  min-height: 80vh!important;
  max-height: 80vh!important;
  overflow: auto;
}
.contenaire-info{
  margin-left: 0.5em!important;
}
.new--contract--button-mobil{
  position: absolute;
  left: 82%;
  top: 73vh;
  transform: translate(50%, -42%);
  &.mat-button-disabled {
    background-color: gray;
  }
  background-color: $orange-500!important;
}
