<fieldset class="mt-1">
  <legend>{{titre}}</legend>
  <mat-card class="mt-1 mat-card">
    <form  class="stepper--conteneur"[formGroup]="myform" fxLayout fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap="10px">
      <div fxLayout fxLayoutGap="10px" fxLayout.xs="column"fxLayout.sm="column" >
        <mat-form-field class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
          <mat-label>Type transporteur </mat-label>
          <mat-select [formControl]="type"  [value]="type" placeholder="selectionner le type transporteur">
            <mat-option *ngFor="let typ of types" [value]="typ.code">
              {{ typ.code }} - {{ typ.libelle }}
            </mat-option>
          </mat-select>
          <button  matSuffix mat-icon-button aria-label="Clear"
                   (click)="reset('type')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="type.errors?.hasOwnProperty('required')">
            {{appConfig.getLabel('error.champ.obligatoire')}}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout fxLayoutGap="10px" fxLayout.xs="column"fxLayout.sm="column" >
        <mat-form-field class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
          <mat-label>{{type.value==='P'?'nom':'numero Siret'}} </mat-label>
          <input matInput  type="text"
                 [formControl]="nom"/>
          <button  matSuffix mat-icon-button aria-label="Clear"
                   (click)="reset('nom')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="nom.errors?.hasOwnProperty('required')">
            {{appConfig.getLabel('error.champ.obligatoire')}}
          </mat-error>
        </mat-form-field>
        <mat-form-field  *ngIf="type.value==='P'"
          class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
          <mat-label>prenom </mat-label>
          <input matInput  type="text"
                 [formControl]="prenom"/>
          <button  matSuffix mat-icon-button aria-label="Clear"
                   (click)="reset('prenom')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="prenom.errors?.hasOwnProperty('required')">
            {{appConfig.getLabel('error.champ.obligatoire')}}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout fxLayoutGap="10px" fxLayout.xs="column"fxLayout.sm="column" >
        <mat-form-field class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
          <mat-label>email </mat-label>
          <input matInput  type="text"
                 [formControl]="email"/>
          <button  matSuffix mat-icon-button aria-label="Clear"
                   (click)="reset('email')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
          <mat-label>telephone</mat-label>
          <input matInput  type="text"
                 [formControl]="telephone"/>
          <button  matSuffix mat-icon-button aria-label="Clear"
                   (click)="reset('telephone')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div fxLayout fxLayoutGap="10px" fxLayout.xs="column"fxLayout.sm="column" >
        <mat-form-field class="champ--operateur" appearance="outline"
                        fxFlex="50" fxFlex.lt-md="100"
                        floatLabel="always">
          <mat-label>Adresse</mat-label>
          <input matInput
                 [formControl]="adresse"/>
          <button  matSuffix mat-icon-button aria-label="Clear"
                   (click)="reset('password')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </form>
  </mat-card>

  <div class="mat-elevation-z0 mt-1">
    <app-action-btns [btns]="btns"  (btnClick)="transporteurAction($event)"></app-action-btns>
  </div>

</fieldset>


