
<mat-card class="mt-1">
  <mat-card-header class="mat-card-header" fxLayout="row" fxLayoutAlign="start center">
    <mat-card-title class="mat-card-title">Création d'utilisateur</mat-card-title>
  </mat-card-header>
    <mat-card-content class="mt-1">
      <form  (submit)="sauvegarder()"  class="stepper--conteneur"[formGroup]="myform" fxLayout fxLayout="column" fxLayoutAlign="space-around">
        <div fxLayout fxLayoutGap="10px" fxLayout.xs="column"fxLayout.sm="column" >
        <mat-form-field class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
          <mat-label>Prenom </mat-label>
          <input matInput  type="text"
                 [formControl]="prenom"/>
          <button  matSuffix mat-icon-button aria-label="Clear"
                   (click)="reset('prenom')">
            <mat-icon>close</mat-icon>
          </button>
          <span class="validation-error" *ngIf="(prenom.touched) && prenom.errors?.['required']">Le champ prénom est obligatoire</span>
          <span class="validation-error" *ngIf="(prenom.touched)  && prenom.errors?.['minlength'] || prenom.errors?.['maxlength']">Vous devez saisir au minimun 3 charactères</span><br>
        </mat-form-field>
        <mat-form-field class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
          <mat-label>nom </mat-label>
          <input matInput  type="text"
                 [formControl]="nom"/>
          <button  matSuffix mat-icon-button aria-label="Clear"
                   (click)="reset('nom')">
            <mat-icon>close</mat-icon>
          </button>
          <span class="validation-error" *ngIf="(nom.touched) && nom.errors?.['required']">Le champ Nom est obligatoire</span>
          <span class="validation-error" *ngIf="(nom.touched)  && nom.errors?.['minlength'] || nom.errors?.['maxlength']">Vous devez saisir au minimun 3 charactères</span><br>
        </mat-form-field>
        </div>
        <div fxLayout fxLayoutGap="10px" fxLayout.xs="column"fxLayout.sm="column" >
        <mat-form-field class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
          <mat-label>email </mat-label>
          <input matInput  type="text"
                 [formControl]="email"/>
          <button  matSuffix mat-icon-button aria-label="Clear"
                   (click)="reset('email')">
            <mat-icon>close</mat-icon>
          </button>
          <span class="validation-error" *ngIf="(email.touched)  && email.errors?.['email']">Vous devez saisir un Email valide</span><br>
        </mat-form-field>
        <mat-form-field class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
          <mat-label>telephone</mat-label>
          <input matInput  type="text"
                 [formControl]="telephone"/>
          <button  matSuffix mat-icon-button aria-label="Clear"
                   (click)="reset('telephone')">
            <mat-icon>close</mat-icon>
          </button>
          <span class="validation-error" *ngIf="(telephone.touched) && telephone.errors?.['required']">Le champ Téléphone est obligatoire et doit contenir des chiffres</span>
          <span class="validation-error" *ngIf="(telephone.touched) && telephone.errors?.['invalid'] || telephone.errors?.['minlength'] || telephone.errors?.['maxlength']">Vous devez saisir au minimun 9 chiffres</span><br>
        </mat-form-field>
        </div>

        <div fxLayout fxLayoutGap="10px" fxLayout.xs="column"fxLayout.sm="column" >
          <mat-form-field class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
            <mat-label>login </mat-label>
            <input matInput  type="text"
                   [formControl]="login"/>
            <button  matSuffix mat-icon-button aria-label="Clear"
                     (click)="reset('login')">
              <mat-icon>close</mat-icon>
            </button>
            <span class="validation-error" *ngIf="(login.touched) && login.errors?.['required']">Le champ Login est obligatoire</span>
            <span class="validation-error" *ngIf="(login.touched)  && login.errors?.['minlength'] || login.errors?.['maxlength']">Le nombre de charactères doit être compris entre 6 et 10 </span><br>
          </mat-form-field>
          <mat-form-field class="champ--operateur" appearance="outline" fxFlex="100" floatLabel="always">
            <mat-label>password</mat-label>
            <input matInput  [type]="hide ? 'password' : 'text'"
                   [formControl]="password"/>
            <button mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <button  matSuffix mat-icon-button aria-label="Clear"
                     (click)="reset('password')">
              <mat-icon>close</mat-icon>
            </button>
            <span class="validation-error" *ngIf="(password.touched) && password.errors?.['required']">Le champ Password est obligatoire</span>
            <span class="validation-error" *ngIf="(password.touched)  && password.errors?.['minlength'] || password.errors?.['maxlength']">Le nombre de charactères doit être compris entre 6 et 10 </span><br>
          </mat-form-field>
        </div>

        <div fxLayout fxLayoutGap="2px" fxLayout.xs="row"fxLayout.sm="row" >
          <mat-form-field  *ngIf="profils$ | async as profils"
            class="champ--operateur" appearance="outline" fxFlex="80" fxFlex.lt-md="90" floatLabel="always">
            <mat-label>profil</mat-label>
            <mat-select [formControl]="profil" multiple>
              <mat-option *ngFor="let profil of profils" [value]="profil">
                {{ profil.code }}- {{ profil.libelle }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-checkbox [formControl]="active">{{getStatus()}}</mat-checkbox>
        </div>
        <div fxLayout fxLayoutAlign="space-between none">
          <button  mat-button  mat-raised-button type="submit"  class="btn-global-pink">
            {{appConfig.getLabel('dcsom.actions.enregistrer')}}
            <mat-icon>save</mat-icon>
          </button>
          <button  mat-button  mat-raised-button type="reset" (click)=annuler()>
            {{appConfig.getLabel('dcsom.actions.annuler')}}
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </form>
    </mat-card-content>
</mat-card>


