@charset "UTF-8";
@import "src/assets/css/DSCOM-variables.scss";
.header-container{
  height: 32px;
  border: 1px solid $orange-500!important;
  padding :0.4em 0.5em 0em 1em !important;
  background: $orange-500!important;
  color: white!important;
  font-size: 14px;
  font-family:Arial;
}
.titre-form{
  //text-transform: capitalize;
}

.new--contract--button {
  //position: absolute;
  right: 1.2em !important;
  transform: translate(50%, -15%);
  background-color: white!important;
  color: $orange-500!important;;
  width: 25px !important;
  height: 25px !important;;
}
.container-form{
  padding: 2em!important;
  height: calc(60vh - 32px)!important;
  overflow: auto;
  border-bottom: solid $orange-1 !important;
  margin-bottom: 0.5em!important;
}
.contenair-valid{
  //padding-right: 2.5em!important;
  margin:0.5em!important;
  padding-right: 2em!important;

}
