$light-red: #d88090;
$red-50: #f3ebe4;
$red-100: #ffcdd2;
$red-200: #f5a300;
$red-300: #e57373;
$red-400: #ef5350;
$red-500: #f44336;
$red-600: #e53935;
$red-700: #d32f2f;
$red-800: #c62828;
$red-900: #b00020;
$red-A100: #ff8a80;
$red-A200: #ff5252;
$red-A400: #ff1744;
$red-A700: #d50000;
$orange-10: #eeaf56;
$orange-20: #bb8c43;
$orange-200: #a16b21;
$orange-5: #facbb3;
$orange-100: #fd7e14;
$orange-300: #d7772e;
$orange-500: #e3844d;
$orange-400: #fa6403;
$orange-600: #F2762E;
$orange-700: #f17026;
$blue: #3f51b5;
$blue-label-input: #68b2f6;
$white: #ffffff;
$green: #178529;
$light-green: #e4f1e6;
$green-100: rgba(10, 120, 107, 0.1);
$light-grey: #F4F4F4;

$pink-main: #d60a7f;
$pink-btn-main: #fa6403;

$purple-100: #21023F1A;
$purple-300: #86248e;
$purple-500: #5E1964;
$purple-900: #21023F;

$dark-blue: #253061;

$gray-icon: #6a6a6a;
